<template>
  <div class="c-about">
    <Wrapper>
      <div class="c-about-section">
        <h2 class="c-about-section__title">{{ title }}</h2>
        <div class="c-about-section__list">
          <SimpleCard
            v-for="card in cards"
            :key="card.id"
            :image="card.cover"
            :title="card.title"
            :text="card.description"
          />
        </div>
        <nuxt-link class="btn-normal-decoration" to="/about" v-if="page_about">
          <span>Dig deeper</span>
        </nuxt-link>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import SimpleCard from "~/components/Base/SimpleCard";
export default {
  name: "FrontAbout",
  components: { SimpleCard, Wrapper },
  props: {
    page_about: Boolean,
    title: String,
    cards: Array,
  },
  data() {
    return {
      // cards: [
      //   {
      //     id: 2342,
      //     image: "/images/about-card-1.jpg",
      //     title: "We flip your user’s perceptions",
      //     text:
      //       "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
      //   },
      //   {
      //     id: 456,
      //     image: "/images/about-card-2.jpg",
      //     title: "We flip your user’s perceptions",
      //     text:
      //       "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
      //   },
      //   {
      //     id: 877,
      //     image: "/images/about-card-3.jpg",
      //     title: "We flip your user’s perceptions",
      //     text:
      //       "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
      //   },
      // ],
    };
  },
};
</script>

<style lang="scss">
.c-about-section {
  &__title {
    @extend %h2-title;
    color: $primary;
    margin-bottom: rem(80);
  }
}
</style>
