<template>
  <div class="c-contact">
    <Wrapper>
      <div class="c-contact">
        <h2 class="c-contact__title">Contact us.</h2>
        <p class="c-contact__text">
          You leave this page — the story ends, you end up on your homepage and
          believe whatever you want to believe. You fill out the brief form —
          you stay in Wonderland and I show you how far your business grows.
        </p>
      </div>
      <div class="c-contact__link">
        <nuxt-link to="/brief" class="c-contact__link-route">
          <span class="c-contact__link-text">Fill out brief</span>
        </nuxt-link>
        <nuxt-link to="/" class="c-contact__link-route">
          <span class="c-contact__link-text">Write us on Email</span>
        </nuxt-link>
      </div>
      <div class="c-contact__list">
        <ul class="c-contact__list-list">
          <li
            class="c-contact__list-item"
            v-for="item of contact_list"
            :key="item.name"
          >
            <a
              class="c-contact__list-route btn-normal-decoration"
              :href="item.route"
              target="_blank"
            >
              <span class="c-contact__list-text">{{ item.name }}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="c-contact__one">
        <nuxt-link
          class="c-contact__one-route btn-normal-decoration"
          to="/terms-and-privacy"
        >
          <span class="c-contact__one-text">Terms & Privacy</span>
        </nuxt-link>
        <span class="c-contact__one-copy">© Copyright, 2020</span>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import SimpleCard from "~/components/Base/SimpleCard";
export default {
  name: "FrontAbout",
  components: { SimpleCard, Wrapper },
  data() {
    return {
      contact_list: [
        {
          name: "Behance",
          route: "https://www.behance.net/Interactive_Design"
        },
        {
          name: "Dribbble",
          route: "https://dribbble.com/interactive_design_company"
        },
        {
          name: "Instagram",
          route: "https://www.instagram.com/interactivedesign.io"
        },
        {
          name: "Facebook",
          route: "https://www.facebook.com/interactivedesigncompany"
        },
        {
          name: "Medium",
          route: "https://medium.com/interactive-design-company"
        },
        {
          name: "Twitter",
          route: "https://twitter.com/id_interactive"
        },
        {
          name: "LinkedIn",
          route: "https://www.linkedin.com/company/interactivedesigncompany"
        },
        {
          name: "Youtube",
          route: "https://www.youtube.com/channel/UCVtkm23eBDgm2q5_d4Gd00A"
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.c-contact {
  &__title {
    @extend %h2-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(50);
    @include for-width(+ medium) {
      margin-bottom: rem(80);
    }
  }

  &__link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(50);
    @include for-width(+ medium) {
      margin-bottom: rem(80);
    }
    max-width: rem(320);
    @include for-width(+ medium) {
      max-width: rem(360);
    }
    @include for-width(+ mob) {
      max-width: rem(400);
      grid-template-columns: repeat(2, 200px);
    }

    &-route {
      justify-content: start;
      margin-right: 0 !important;
      white-space: nowrap;

      & span {
        @extend %btn-big;
        @extend %base-button;
        position: relative;
        margin-right: 0 !important;

        &::after {
          position: absolute;
          content: "";
          bottom: rem(0);
          left: 0;
          width: 100%;
          height: rem(1);
          background-color: $primary;
          transition: bottom 0.3s ease;
        }
      }

      &:hover {
        & span {
          &:after {
            opacity: 1;
            bottom: rem(-2);
          }
        }
      }
    }

    &-text {
      color: $primary;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(35);
    @include for-width(+ tablet) {
      margin-bottom: rem(70);
    }

    &-list {
      column-count: 2;
      column-gap: 0;
      width: 100%;
      max-width: rem(320);
      @include for-width(+ medium) {
        max-width: rem(360);
      }
      @include for-width(+ mob) {
        max-width: rem(400);
      }
    }

    &-item {
      margin-bottom: rem(20);
    }

    &-text {
      color: $secondary;
    }
  }

  &__one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: rem(320);
    @include for-width(+ medium) {
      max-width: rem(360);
    }
    @include for-width(+ mob) {
      max-width: rem(400);
    }

    &-copy {
      @extend %text-main;
    }
  }
}
</style>
