<template>
  <div class="c-portfolio">
    <Wrapper>
      <div class="c-portfolio-section">
        <h1 class="c-portfolio-section__title">Jobs for the best job with us.</h1>
        <p
          class="c-portfolio-section__text"
        >From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.</p>
        <div class="c-portfolio-section__list">
          <CardJobs
            v-for="item in jobs_list"
            :key="item.id"
            :title="item.title"
            :text="item.text"
            :image="item.image"
          />
        </div>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import CardJobs from "~/components/Base/CardJobs";
export default {
  name: "FrontAbout",
  components: { Wrapper, CardJobs },
  data() {
    return {
      jobs_list: [
        {
          id: 1,
          image: "img-acticle-2.jpg",
          title: "Middle Frontend Developer",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction by generating serious brand."
        },
        {
          id: 2,
          image: "img-acticle-3.jpg",
          title: "Senior Backend Developer",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction by generating serious brand."
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.c-portfolio-section {
  &__title {
    display: flex;
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }
}
</style>
