<template>
  <div class="c-lead">
    <Wrapper>
      <div class="c-lead-section">
        <h1 class="c-lead-section__title">
          {{ title }}
        </h1>
        <p v-if="isForPartners" class="c-lead-section__text">
          {{ description }}
        </p>
        <p v-else class="c-lead-section__subtext">
          {{ description }}
        </p>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "FrontLead",
  components: { Wrapper },
  props: {
    title: String,
    description: String,
    isForPartners: Boolean
  }
};
</script>

<style lang="scss">
.c-lead-section {
  &__title {
    @extend %h1-title;
    color: $primary;
  }
  &__subtext {
    @extend %text-title;
    color: $secondary;
    margin-top: rem(20);
  }
  &__text {
    @extend %text-main;
    color: $secondary;
    margin-top: rem(20);
  }
  &__cookie {
    left: calc(100% - 683);
  }
}
</style>
