<template>
  <div class="c-portfolio">
    <Wrapper>
      <div class="c-portfolio-section">
        <h1 class="c-portfolio-section__title">We help business grow taller.</h1>
        <p
          class="c-portfolio-section__text"
        >From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.</p>
        <div class="c-portfolio-section__list">
          <CardProject
            v-for="item in portfolio_list"
            :key="item.id"
            :title="item.title"
            :text="item.text"
            :image="item.image"
            :icon="item.icon"
          />
        </div>
        <div class="c-portfolio-section__more">
          <nuxt-link class="c-portfolio-section__more-route" to="#">
            <span>Load more</span>
          </nuxt-link>
        </div>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import CardProject from "~/components/Base/CardProject";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
export default {
  name: "FrontAbout",
  components: { Wrapper, CardProject, BaseButtonNormal },
  data() {
    return {
      portfolio_list: [
        {
          id: 1,
          image: "/portfolio/image-1.jpg",
          title: "Project title",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
          icon: false
        },
        {
          id: 2,
          image: "/portfolio/image-2.jpg",
          title: "Project title",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating.",
          icon: true
        },
        {
          id: 3,
          image: "/portfolio/image-3.jpg",
          title: "Project title",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
          icon: false
        },
        {
          id: 4,
          image: "/portfolio/image-4.jpg",
          title: "Project title",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating.",
          icon: false
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.c-portfolio-section {
  &__title {
    display: flex;
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }

  &__more {
    &-route {
      display: inline-block;
      @extend %text-main;
      color: $primary;
      @extend %border-default;
      padding: rem(15) rem(25);

      &:hover {
        color: $secondary;
        border-bottom: rem(1) solid $secondary;
      }
    }
  }
}
</style>
