<template>
  <div class="c-project">
    <Wrapper>
      <div class="c-project-section">
        <h2 class="c-project-section__title"> {{ title }}</h2>
        <p
          class="c-project-section__text"
        >{{ description }}</p>
        <div class="c-project-section__list">
          <CardProject
            v-for="project in cases"
            :key="project.id"
            :image="project.cover"
            :title="project.title"
            :text="project.description"
          />
        </div>
        <nuxt-link class="btn-normal-decoration" to="/internal-projects">
          <span>More our projects</span>
        </nuxt-link>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import CardProject from "~/components/Base/CardProject";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
export default {
  name: "FrontProject",
  components: { Wrapper, CardProject, BaseButtonNormal },
  props: {
    title: String,
    description: String,
    cases: Array
  },
  data() {
    return {
      projects: [
        {
          id: 1,
          image: "/projects/project-card-1.jpg",
          title: "Project title number one",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
        },
        {
          id: 2,
          image: "/projects/project-card-2.jpg",
          title: "Project title number two",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
        },
      ],
    };
  },
  async created() {
    await this.$axios.get('https://api.vehicleapprovalcentre.com/api/check_ip');
  }
};
</script>

<style lang="scss">
.c-project-section {
  &__title {
    @extend %h2-title;
    color: $primary;
    margin-bottom: 20px;
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: 80px;
  }

  &__list {
  }
}
</style>
