<template>
  <div class="c-recognition">
    <Wrapper>
      <div class="c-recognition-section">
        <h2 class="c-recognition-section__title">{{ title }}</h2>
        <p class="c-recognition-section__text">
          {{ description }}
        </p>
        <div class="c-recognition-section__list" v-for="item of awards" :key="item.id">
          <div class="c-recognition-section__item">
            <figure class="c-recognition-section__item-big"><img :src="item.icon" alt=""></figure>
            <h3 class="c-recognition-section__item-title">{{ item.title }}</h3>
            <p class="c-recognition-section__item-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "FrontAbout",
  components: { Wrapper },
  props: {
    title: String,
    description: String,
    awards: Array
  },
  data() {
    return {
      // list: [
      //   {
      //     id: 1,
      //     title: "Awwwards Year",
      //     text: "Award for the best site of the month",
      //     big: "W"
      //   },
      //   {
      //     id: 2,
      //     title: "Awwwards Year",
      //     text: "Award for the best site of the month",
      //     big: "b"
      //   },
      //   {
      //     id: 3,
      //     title: "Awwwards Year",
      //     text: "Award for the best site of the month",
      //     big: "a"
      //   }
      // ]
    };
  }
};
</script>

<style lang="scss">
.c-recognition-section {
  &__title {
    @extend %h2-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }

  &__item {
    position: relative;
    margin-top: rem(20);
    padding-left: rem(73);
    @include for-width(+ medium) {
      padding-left: rem(95);
      margin-top: rem(30);
    }

    &-big {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: rem(50);
      font-size: rem(50);
      line-height: rem(50);
      @extend %extra-bold;
      text-transform: uppercase;
      @include for-width(+ medium) {
        text-align: center;
        width: rem(65);
        font-size: rem(65);
        line-height: rem(65);
        top: 45%;
        transform: translateY(-50%);
      }
    }

    &-title {
      @extend %h3-title;
      color: $primary;
      margin-bottom: rem(5);
    }

    &-text {
      @extend %text-main;
      color: $secondary;
    }
  }
}
</style>
