<template>
  <div class="c-working">
    <Wrapper>
      <div class="c-working-section">
        <h2 class="c-working-section__title">{{ title }}</h2>
        <p class="c-working-section__text">{{ description }}</p>
        <ul class="c-working-section__list">
          <li class="c-working-section__list-item" v-for="item of working_logos" :key="item.id">
            <figure>
              <img class="c-working-section__item" :src="item.img" alt="working with company logo" />
            </figure>
          </li>
        </ul>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "FrontWorking",
  components: { Wrapper },
  props: {
    title: String,
    description: String,
    working_logos: {
      type: Array,
    },
  },
  data() {
    return {
      // working_with: [
      //   {
      //     id: 1,
      //     src: "/working/Logo-1.svg",
      //     text: "logo-1"
      //   },
      //   {
      //     id: 2,
      //     src: "/working/Logo-2.svg",
      //     text: "logo-2"
      //   },
      //   {
      //     id: 3,
      //     src: "/working/Logo-3.svg",
      //     text: "logo-3"
      //   },
      //   {
      //     id: 4,
      //     src: "/working/Logo-4.svg",
      //     text: "logo-4"
      //   },
      //   {
      //     id: 5,
      //     src: "/working/Logo-5.svg",
      //     text: "logo-5"
      //   },
      //   {
      //     id: 6,
      //     src: "/working/Logo-6.svg",
      //     text: "logo-6"
      //   },
      //   {
      //     id: 7,
      //     src: "/working/Logo-7.svg",
      //     text: "logo-7"
      //   },
      //   {
      //     id: 8,
      //     src: "/working/Logo-8.svg",
      //     text: "logo-8"
      //   },
      //   {
      //     id: 9,
      //     src: "/working/Logo-9.svg",
      //     text: "logo-9"
      //   }
      // ]
    };
  },
};
</script>

<style lang="scss">
.c-working-section {
  &__title {
    @extend %h2-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-item {
      margin-right: rem(50);
      @include for-width(-mob-lg) {
        margin-right: rem(20);
      }
      margin-bottom: rem(30);
    }

    & img {
      max-width: 100%;
    }
  }
}
</style>
