<template>
  <BaseArticleContent class="_overlay-post"
                      :cover_image="article.cover_image.url"
                      :title="article.title"
                      :authors="article.author"
                      :content="article.content_block"/>
</template>

<script>
  import BaseArticleContent from "~/components/Base/BaseArticleContent";
  import { mapFields } from 'vuex-map-fields'
  export default {
    name: "BlogPost",
    components: {BaseArticleContent},
    computed: {
      ...mapFields('blog', [
        'article'
      ])
    },
    // destroyed() {
    //   this.$store.dispatch('blog/clear_article')
    // }
  }
</script>

<style lang="scss">

</style>
