<template>
  <transition name="_overlay">
    <div class="c-overlay" v-if="overlay" :class="{ overlay_menu: overlay === 'OverlayMenu' }">
      <div class="c-overlay_main" :class="{ overlay_menu: overlay === 'OverlayMenu' }">
        <component :is="overlay"></component>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapFields } from "vuex-map-fields";
import OverlayMenu from "~/components/Overlay/Menu";
import BlogPost from "~/components/Overlay/BlogPost";
import JobPost from "~/components/Overlay/JobPost";

export default {
  name: "OverlayContainer",
  components: { JobPost, BlogPost, OverlayMenu },
  computed: {
    ...mapFields("overlay", ["overlay"]),
  },
};
</script>

<style lang="scss">
.c-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh + 17px);
  @include for-width(-laptop) {
    height: 100vh;
  }
  width: 100%;
  background-color: $white;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    background-color: transparent !important;
  }

  @include for-width(+ laptop) {
    &.overlay_menu {
      padding: 0 rem(100) 0 rem(50);
    }
    width: rem(500);
    border-left: 1px solid $secondary;
  }
  @include for-width(+ laptop-big) {
    &.overlay_menu {
      padding: 0 rem(100) 0 rem(50);
    }
    width: rem(550);
    border-left: 1px solid $secondary;
  }
  @include for-width(+ desktop) {
    &.overlay_menu {
      padding: 0 rem(250) 0 rem(50);
    }
    width: rem(600);
    border-left: 1px solid $secondary;
  }
  @include for-width(+ desktop-lg) {
    &.overlay_menu {
      padding: 0 rem(387) 0 rem(67);
    }
    width: rem(754);
  }

  &_main {
    &.overlay_menu {
      width: rem(180);
      margin: rem(80) auto rem(50);
      @include for-width(+ mobile) {
        width: rem(214);
      }
      @include for-width(+ tablet) {
        width: rem(400);
        margin: rem(100) auto rem(50);
      }
      @include for-width(+ tablet) {
        width: rem(300);
        margin: rem(120) auto rem(50);
      }
    }
  }
}
$duration: 0.3s;

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.c-overlay {
  /*z-index: 100;*/

  &._overlay-enter-active,
  &._overlay-leave-active {
    @extend %transition;

    .c-overlay__main {
      @extend %transition;
    }
  }

  &._overlay-enter,
  &._overlay-leave-to {
    transform: translateX(100%);

    .c-overlay__main {
      transform: translateX(100%);
    }
  }
}
</style>
