<template>
  <BaseJobContent class="_overlay-post _overlay-post_job"
                  :cover_image="job.cover_image.url"
                  :title="job.title"
                  :authors="job.author"
                  :content="job.content_block" />
</template>

<script>
  import BaseJobContent from "~/components/Base/BaseJobContent";
  import {mapFields} from "vuex-map-fields";
  export default {
    name: "JobPost",
    components: {BaseJobContent},
    computed: {
      ...mapFields('jobs', [
        'job'
      ])
    },
  }
</script>

<style lang="scss" scoped>

</style>
