<template>
  <div class="c-menu">
    <div class="c-menu__wrap">
      <ul class="c-menu__link">
        <li class="c-menu__link-item">
          <span
            class="c-menu__link-services"
            @click="isServicesOpen = !isServicesOpen"
          >
            <span class="c-menu__link-services-text">
              Services
              <svg
                width="16"
                height="10"
                viewBox="0 0 16 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                :class="{
                  'c-menu__link-services-text-arrow_transform': isServicesOpen
                }"
              >
                <path d="M1 1L8 8L15 1" stroke="#2C2E35" stroke-width="2" />
              </svg>
            </span>
          </span>
          <transition name="list-fade">
            <ul v-if="isServicesOpen" class="c-menu__link-services-list">
              <nuxt-link
                tag="li"
                v-for="item in services_item"
                :key="item.name"
                class="c-menu__link-services-item btn-normal-decoration"
                :to="item.route_link"
              >
                <span @click="hider_overlay">{{ item.name }}</span>
              </nuxt-link>
            </ul>
          </transition>
        </li>
        <li
          class="c-menu__link-item"
          @click="hider_overlay"
          v-for="link of link_item"
          :key="link.name"
        >
          <nuxt-link class="c-menu__link-link" :to="link.route_link">
            <span>{{ link.name }}</span>
          </nuxt-link>
        </li>
      </ul>
      <ul class="c-menu__list">
        <li
          class="c-menu__list-item"
          v-for="route of router_item"
          :key="route.name"
        >
          <a
            class="c-menu__list-link btn-normal-decoration"
            :href="route.route_link"
            target="_blank"
          >
            <span>{{ route.name }}</span>
          </a>
        </li>
      </ul>
      <div class="c-menu__one">
        <nuxt-link class="c-menu__one-link" to="/sitemap">
          <span @click="hider_overlay">Sitemap</span>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "OverlayMenu",
  data() {
    return {
      isServicesOpen: false,
      link_item: [
        {
          name: "Our projects",
          route_link: "/internal-projects"
        },
        {
          name: "Blog",
          route_link: "/blog"
        },
        {
          name: "Contact",
          route_link: "/contact"
        },
        {
          name: "Jobs",
          route_link: "/jobs"
        },
        {
          name: "For partners",
          route_link: "/for-partners"
        }
      ],
      router_item: [
        {
          name: "Behance",
          route_link: "https://www.behance.net/Interactive_Design"
        },
        {
          name: "Dribbble",
          route_link: "https://dribbble.com/interactive_design_company"
        },
        {
          name: "Instagram",
          route_link: "https://www.instagram.com/interactivedesign.io"
        },
        {
          name: "Facebook",
          route_link: "https://www.facebook.com/interactivedesigncompany"
        },
        {
          name: "Medium",
          route_link: "https://medium.com/interactive-design-company"
        },
        {
          name: "Twitter",
          route_link: "https://twitter.com/id_interactive"
        },
        {
          name: "LinkedIn",
          route_link:
            "https://www.linkedin.com/company/interactivedesigncompany"
        },
        {
          name: "Youtube",
          route_link: "https://www.youtube.com/channel/UCVtkm23eBDgm2q5_d4Gd00A"
        }
      ],
      services_item: [
        {
          name: "Design",
          route_link: "/"
        },
        {
          name: "Development",
          route_link: "/"
        },
        {
          name: "Branding",
          route_link: "/"
        },
        {
          name: "Marketing",
          route_link: "/"
        }
      ]
    };
  },
  methods: {
    hider_overlay() {
      this.$store.dispatch("overlay/set_overlay", null);
    },
    addPorfolioAboutToMobile() {
      this.link_item.unshift({ name: "About", route_link: "/about" });
      this.link_item.unshift({ name: "Portfolio", route_link: "/portfolio" });
    }
  },
  mounted() {
    if (window.innerWidth < 576) {
      this.addPorfolioAboutToMobile();
    }
  },
  async created() {
    const services_api = await this.$axios.$get(
      process.env.NUXT_ENV_API_HOST + "services/"
    );
    this.services_item = services_api.map(el => {
      return {
        name: el.title,
        route_link: `/services/${el.slug}`
      };
    });
  }
};
</script>

<style lang="scss">
.c-menu {
  &__link {
    margin-bottom: rem(34);
    @include for-width(+ medium) {
      margin-bottom: rem(80);
    }
    @include for-width(+ laptop) {
      margin-bottom: rem(40);
    }
    @include for-width(+ desktop-lg) {
      margin-bottom: rem(60);
    }
    &-link {
      @extend %h3-title;
      color: $primary;
      transition: 0.3s all ease;
      display: inline-block;
      margin-bottom: rem(15);

      @include for-width(+ medium) {
        margin-bottom: rem(30);
      }
      @include for-width(+ laptop) {
        margin-bottom: rem(20);
      }

      &:hover {
        opacity: 0.75;
        transform: translateX(10px);
      }
    }

    &-services {
      @extend %h3-title;
      color: $primary;
      cursor: pointer;
      transition: 0.3s all ease;
      display: inline-block;
      margin-bottom: rem(15);
      @include for-width(+ medium) {
        margin-bottom: rem(30);
      }
      @include for-width(+ laptop) {
        margin-bottom: rem(20);
      }

      &-text {
        display: flex;
        align-items: center;

        & svg {
          margin-left: rem(15);

          transition: 0.3s all ease;
        }

        &-arrow_transform {
          transform: rotate(180deg);
        }
      }

      &-list {
        margin-bottom: rem(60);
        @include for-width(-mob) {
          margin-bottom: rem(40);
        }
      }

      &-item {
        margin-bottom: rem(30);
        cursor: pointer;
        @include for-width(-mob) {
          margin-bottom: rem(20);
        }
      }

      &:hover {
        opacity: 0.75;
        transform: translateX(10px);
      }
    }
  }

  &__list {
    column-gap: rem(55);
    margin-bottom: rem(50);
    @include for-width(+ mobile) {
      column-count: 2;
    }
    @include for-width(+ laptop) {
      column-gap: rem(97);
      margin-bottom: rem(60);
    }

    &-item {
      margin-bottom: rem(15);
      @include for-width(+ medium) {
        margin-bottom: rem(20);
      }
    }

    &-link {
      color: $primary;
      white-space: nowrap;
    }
  }

  &__one {
    margin-bottom: rem(60);
    &-link {
      @extend %btn-default;
      color: $secondary;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        bottom: 0px;
        left: 0;
        height: rem(1);
        background-color: $secondary;
      }
    }
  }
}

.list-fade-enter-active {
  transition: all 0.3s ease;
}
.list-fade-leave-active {
  transition: all 0.3s ease;
}
.list-fade-enter, .list-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
