<template>
  <div class="c-partners">
    <Wrapper>
      <div class="c-partners-btns">
        <span
          @click="isPartners = true"
          class="c-partners-btns__item"
          :class="{ active: isPartners }"
          >Partners</span
        >
        <span
          @click="isPartners = false"
          class="c-partners-btns__item"
          :class="{ active: !isPartners }"
          >Investors</span
        >
      </div>
    </Wrapper>
    <transition-group name="fade" mode="in-out">
      <FrontAbout
        v-if="isPartners"
        :title="partners_title"
        :cards="partners_block"
        :key="partners_title"
      />
      <FrontAbout
        v-else
        :title="investors_title"
        :cards="investors_block"
        :key="investors_title"
      />
    </transition-group>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import FrontAbout from "~/components/front/About";
export default {
  name: "MainPartners",
  components: { Wrapper, FrontAbout },
  data() {
    return {
      isPartners: true
    };
  },
  props: {
    partners_title: String,
    investors_title: String,
    partners_block: Array,
    investors_block: Array
  }
};
</script>

<style lang="scss">
.c-partners {
  &-btns {
    display: flex;

    margin-bottom: rem(80);

    &__item {
      padding: rem(15) rem(25);
      margin-right: rem(60);

      @extend %text-main;
      cursor: pointer;
      color: $primary;
      border-bottom: 1px solid $secondary;

      &.active {
        border-bottom: 1px solid #ff1b5f;
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s all ease;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
</style>
