.v-modal-content {
  &._overlay-post {
    .v-modal-content-section {
      padding: rem(80) rem(20) 0 rem(20);
      @include for-width(+ mob-lg) {
        padding: rem(25) rem(80) 0 rem(80);
      }
      @include for-width(+ laptop) {
        padding: 0;
      }
    }
  }
  &-section {
    margin: rem(40) auto 0;
    @include for-width(+ tablet) {
      margin: rem(170) auto 0;
    }
    @include for-width(-laptop) {
      &::before {
        display: block;
        position: sticky;
        top: 0;
        width: 100%;
        height: rem(68);
        background-color: #fff;
        content: "";
        z-index: 5;
      }
    }
    max-width: rem(683);
    @include for-width(+ laptop) {
      width: rem(360);
      margin: rem(35) auto rem(20) rem(50);
    }
    @include for-width(+ laptop-big) {
      width: rem(420);
    }
    @include for-width(+ desktop) {
      width: rem(400);
    }
    @include for-width(+ desktop-lg) {
      width: rem(570);
    }
    // padding: rem(180) 0 0 0;
    @include for-width(+ medium) {
      // padding: rem(260) 0 0 0;
    }

    &__image {
      width: 100%;
      height: rem(230);
      @include for-width(+ mob-lg) {
        height: rem(240);
      }
      @include for-width(+ laptop) {
        height: rem(179);
      }
      @include for-width(+ desktop-lg) {
        height: rem(244);
      }
      margin: rem(60) 0 rem(30);
      overflow: hidden;

      & img {
        object-fit: cover;
      }
    }

    &__title {
      @extend %h3-title;
      color: $primary;
      margin-bottom: rem(30);
    }

    &__text {
      margin-bottom: rem(80);
      & h1,
      & h2,
      & h3,
      ol,
      ul {
        margin-bottom: rem(20);
      }
      & h1,
      & h2 {
        @extend %text-title-bolder;
      }
      & h3 {
        @extend %text-title;
      }

      & p {
        @extend %text-main;
        strong {
          @extend %btn-default;
        }
        em {
          font-style: italic;
        }
        margin-bottom: rem(30);
      }
      ul,
      ol {
        padding-left: rem(20);
        @include for-width(-laptop) {
          padding-left: rem(15);
        }
        li {
          @extend %text-main;
          display: list-item;
          list-style: disc;
        }
      }
      ol {
        padding-left: rem(30);
        @include for-width(-laptop) {
          padding-left: rem(25);
        }
        li {
          list-style: decimal-leading-zero;
        }
      }

      & img {
        width: 100%;
        height: auto;
        margin-bottom: rem(20);
      }

      & a {
        display: inline-block;
        @extend %btn-default;
        margin-bottom: rem(30);
        @extend %border-primary;
        color: $primary;

        &:hover {
          color: $secondary;
          @extend %border-default;
        }
      }
    }

    &__img {
      width: 100%;
      height: rem(230);
      @include for-width(+ mob-lg) {
        height: rem(240);
      }
      @include for-width(+ laptop) {
        height: rem(179);
      }
      @include for-width(+ desktop-lg) {
        height: rem(244);
      }
      margin: rem(60) 0 rem(30);
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
        min-width: 100%;
        width: auto;
      }
    }

    &__send {
      display: block;
      margin-bottom: rem(62);
    }
  }
}
