%base-button {
  color: $primary;
  @extend %transition;
  text-decoration: none;
  margin-right: rem(20);
  &[disabled] {
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.7;
  }
}
%load-more {
  display: inline-block;
  @extend %text-main;
  color: $primary;
  @extend %border-default;
  padding: rem(15) rem(25);

  &:hover {
    color: $secondary;
    border-bottom: rem(1) solid $secondary;
  }
}
// Buttons
.btn-large {
  @extend %btn-big;
  @extend %base-button;
}

.btn-large-decoration {
  @extend %btn-big;
  @extend %base-button;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: rem(3);
    left: 0;
    width: 100%;
    height: rem(1);
    background-color: $primary;
  }
}

.btn-normal {
  @extend %btn-default;
  @extend %base-button;
}

.btn-normal-decoration {
  @extend %btn-default;
  @extend %base-button;

  & span {
    position: relative;
  }

  & span::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(1);
    background-color: $primary;
    transition: bottom 0.3s ease;
  }

  color: $primary;
  @extend %transition;

  &:hover {
    & span {
      &:after {
        opacity: 1;
        bottom: rem(-2);
      }
    }
  }
}

// Error message
%base-error-message {
  @include position(100%);
  opacity: 0;
  @extend %evt-none;
  @extend %transition;

  margin-top: rem(6);
  @extend %text-secondary;

  span {
    color: $accent;
  }

  @extend %text-secondary;
  color: $accent;

  &.error {
    opacity: 1;
  }
}

// Notification

%notification-install {
  position: fixed;
  right: rem(30);
  bottom: rem(30);
  width: rem(360);
  min-height: rem(50);
  padding: rem(11) rem(50) rem(12) rem(20);
  @extend %notif-inst;
  color: $primary;
  background-color: $white;
  text-decoration: underline;
  @extend %border-top;
  z-index: 10;
  @extend %transition;

  & svg {
    position: absolute;
    right: rem(21);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &.hide {
    opacity: 0;
    @extend %evt-none;
  }
}

%notification-copied {
  position: fixed;
  right: rem(30);
  bottom: rem(30);
  width: rem(600);
  min-height: rem(80);
  padding: rem(25) rem(60) rem(25) rem(30);
  @extend %text-main;
  color: #000;
  background-color: $white;
  @extend %border-top;
  z-index: 10;
  @extend %transition;

  & svg {
    position: absolute;
    right: rem(21);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &.hide {
    opacity: 0;
    @extend %evt-none;
  }
}
.notification-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.c-notification-cookies {
  position: relative;
  width: 100%;
  min-height: rem(50);
  padding: rem(14) rem(50) rem(14) rem(30);
  @extend %text-secondary;
  color: $white;
  background-color: $primary;
  z-index: 10;
  @extend %transition;

  & svg {
    position: absolute;
    right: rem(21);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  & a {
    position: relative;
    color: $white;
    &:after {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0;
      width: 100%;
      height: rem(1);
      background-color: $white;
    }
    &:hover {
      opacity: 0.8;
      @extend %transition;
    }
  }

  &.hide {
    opacity: 0;
    @extend %evt-none;
  }
}

// Input text
%input-wrap {
  position: relative;

  margin-bottom: rem(30);
  @include for-width(-mob) {
    margin-bottom: rem(12);
  }
  max-width: rem(683);

  & input,
  textarea {
    width: 100%;
    max-width: rem(683);
    padding: rem(16) 0 rem(14) 0;
    @include for-width(-mob) {
      padding: rem(12) 0 rem(11) 0;
      margin-bottom: rem(12);
    }
    @extend %text-main;
    @extend %border-default;
    resize: none;
    border-radius: 0px;
  }
}

%input-default {
  width: 100%;
  padding: 16px 0 14px 0;
  @extend %text-main;
  @extend %border-default;

  &::placeholder {
    color: $secondary;
    opacity: 1;
  }

  &:focus {
    @extend %border-focus;
  }

  &.focus {
    @extend %border-focus;
  }

  &.error {
    @extend %border-error;
  }
}

// Tabs
%base-tab {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 15px 25px;
  @extend %border-default;
  cursor: pointer;
  @extend %transition;

  span {
    @extend %text-main;
  }

  &:hover {
    opacity: 0.7;
  }

  &.active {
    color: $accent;
    @extend %border-error;
  }
}

// Search list
%search-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  background-color: $white;
  opacity: 0;
  pointer-events: none;
  //@extend %evt-none;
  @extend %transition;
  width: 100%;
  max-width: rem(550);
  padding: rem(20) rem(10) rem(23) 0;
  max-height: rem(300);
  overflow-x: scroll;
  //padding: 20px 10px 23px 0;

  & li {
    color: $primary;
    @extend %text-main;
    cursor: pointer;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
    //@extend %evt-all;
  }
}

// Card
%card-template {
  cursor: pointer;
  width: 100%;
  @include for-width(+ medium) {
    max-width: rem(500);
  }
  @include for-width(+ tablet) {
    max-width: rem(550);
  }
  @include for-width(+ desktop-lg) {
    max-width: rem(683);
  }
  margin-bottom: rem(80);
}

%card-template__img {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: rem(30);
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @extend %transition;
    object-fit: cover;
    pointer-events: none;
  }
}

%card-template__title {
  @extend %h3-title;
  @extend %transition;
  margin-bottom: rem(20);
  color: $black;
  a {
    color: $black;
  }
  &:hover {
    opacity: 0.7;
  }
}

%card-template__text {
  @extend %text-main;
  color: $secondary;
  margin-bottom: rem(20);
}

%card-template__more {
  @extend %btn-default;
  color: $primary;
  @extend %transition;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(1);
    background-color: $primary;
    @extend %transition;
  }

  &:hover {
    color: $secondary;

    &::after {
      color: $secondary;
    }
  }
}

// Card
%card-template {
  width: 100%;
  max-width: rem(683);
  cursor: pointer;
  margin-bottom: rem(80);
}

%card-template__img {
  overflow: hidden;
  margin-bottom: rem(30);
}

%card-template__title {
  @extend %h3-title;
  @extend %transition;
  margin-bottom: rem(20);

  &:hover {
    opacity: 0.7;
  }
}

%card-template__text {
  @extend %text-main;
  color: $secondary;
  margin-bottom: rem(20);
}

%card-template__more {
  @extend %btn-default;
}
