body {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
img {
  display: inline-block;
  width: inherit;
  height: inherit;
}
a {
  &:hover {
    // color: $color_link_hover;
  }
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter, .layout-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
