// ================ Gilroy-Bold ================
@include font_face(Gilroy-Bold, Gilroy-Bold);

%bold {
  font-family: "Gilroy-Bold", sans-serif;
}
// ################ Gilroy-Bold ################

// ================ Gilroy-Medium ================
@include font_face(Gilroy-ExtraBold, Gilroy-ExtraBold);

%extra-bold {
  font-family: "Gilroy-ExtraBold", sans-serif;
}
// ################ Gilroy-Medium ################

// ================ Gilroy-Medium ================
@include font_face(Gilroy-Medium, Gilroy-Medium);

%medium {
  font-family: "Gilroy-Medium", sans-serif;
}
// ################ Gilroy-Medium ################

// ================ Gilroy-Regular ================
@include font_face(Gilroy-Regular, Gilroy-Regular);

%regular {
  font-family: "Gilroy-Regular", sans-serif;
}
// ################ Gilroy-Regular ################

// ====================== Font styles =======================
// Headline / H1
%h1-title {
  @extend %extra-bold;
  @extend %ls-01;
  @include font_sizes(40, 43);
  @include for-width(+ mob) {
    @include font_sizes(60, 65);
  }
}
// Headline / H2
%h2-title {
  @extend %bold;
  @extend %ls-02;
  @include font_sizes(30, 34);
  @include for-width(+ mob) {
    @include font_sizes(45, 52);
  }
}
// Headline / H3
%h3-title {
  @extend %bold;
  @extend %ls-03;
  @include font_sizes(24, 27);
  @include for-width(+ mob) {
    @include font_sizes(34, 39);
  }
}
// Text / Title 1
%text-title {
  @extend %medium;
  @include font_sizes(16, 26);
  @include for-width(+ mob) {
    @include font_sizes(20, 32);
  }
}
// Text / Title 2
%text-title-bolder {
  @extend %bold;
  @include font_sizes(18, 29);
  @include for-width(+ mob) {
    @include font_sizes(20, 32);
  }
}
// Text / Main
%text-main {
  @extend %regular;
  @include font_sizes(16, 26);
  @include for-width(+ mob) {
    @include font_sizes(18, 29);
  }
}
// Text / Secondary
%text-secondary {
  @extend %regular;
  @include font_sizes(14, 22);
}
// Link / Normal
%btn-default {
  @extend %bold;
  @include font_sizes(16, 26);
  @include for-width(+ mob) {
    @include font_sizes(18, 29);
  }
}
// Link / Large
%btn-big {
  @extend %bold;
  @include font_sizes(20, 32);
  @include for-width(+ mob) {
    @include font_sizes(26, 42);
  }
}

%notif-inst {
  @extend %bold;
  @include font_sizes(16, 26);
}

// ====================== Font sizes =======================
%ttu {
  text-transform: uppercase;
}
%ls-01 {
  letter-spacing: 0.01em;
}
%ls-02 {
  letter-spacing: 0.012em;
}
%ls-03 {
  letter-spacing: 0.02em;
}
