.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(12);
  @include for-width(+ small) {
    padding: 0 rem(20);
  }
  @include for-width(+ tablet) {
    padding: 0;
  }
  @include for-width(+ tablet) {
    max-width: rem(700);
  }
  @include for-width(+ laptop) {
    max-width: rem(1100);
  }
  @include for-width(+ laptop-big) {
    max-width: rem(1200);
  }
  @include for-width(+ desktop) {
    max-width: rem(1200);
  }
  @include for-width(+ desktop-lg) {
    max-width: rem(1640);
  }
  &.-full-width {
    max-width: 100%;
    padding: 0 rem(50);
  }
}

.-content-layout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @extend %transition;
  @include for-width(+ mob-lg) {
    max-width: rem(450);
    margin-right: rem(50);
  }
  @include for-width(+ tablet) {
    max-width: rem(500);
    margin-right: rem(50);
  }
  @include for-width(+ laptop) {
    max-width: rem(500);
    margin-right: rem(110);
    &.-menu-open {
      margin-right: rem(514);
    }
  }
  @include for-width(+ laptop-big) {
    &.-menu-open {
      margin-right: rem(581);
    }
  }
  @include for-width(+ desktop) {
    max-width: rem(550);
    &.-menu-open {
      margin-right: rem(553);
    }
  }
  @include for-width(+ desktop-lg) {
    max-width: rem(683);
    margin-right: rem(211);
    &.-menu-open {
      margin-right: rem(761);
    }
  }
  &.-menu-layout {
    @include for-width(+ mob) {
      margin-left: rem(20);
    }
    @include for-width(+ mob-lg) {
      margin-left: auto;
      margin-right: rem(14);
    }
    @include for-width(+ laptop) {
      margin-right: rem(64);
      &.-menu-open {
        margin-right: rem(470);
      }
    }
    @include for-width(+ desktop) {
      margin-right: rem(62);
      &.-menu-open {
        margin-right: rem(515);
      }
    }
    @include for-width(+ desktop-lg) {
      margin-right: rem(167);
      &.-menu-open {
        margin-right: rem(717);
      }
    }
  }
}
