<template>
  <div class="v-index">
    <section class="v-index-section">
      <ExpertiseFirst :title="content.title" :explaining="content.content_block"/>
    </section>
    <section class="v-index-section">
      <BaseSlider
        :title="content.cases_title"
        :description="content.cases_description"
        :sliders="content.portfolio"
      />
    </section>
    <section class="v-index-section">
      <ExpertiseForm />
    </section>
    <section class="v-index-section">
      <MoreExpertise :expertise="content.more_services" />
    </section>
  </div>
</template>

<script>
  import ExpertiseFirst from "~/components/expertise/ExpertiseFirst";
  import MoreExpertise from "~/components/expertise/MoreExpertise";
  import ExpertiseForm from "~/components/expertise/ExpertiseForm";
  import { mapState } from 'vuex';

  import objectValue from "~/utils/objectValue";
  import BaseSlider from "~/components/Base/BaseSlider";
  import seo_head from "~/mixins/seo_head";

  export default {
    components: {
      BaseSlider,
      ExpertiseFirst,
      MoreExpertise,
      ExpertiseForm,
    },
    async middleware({ store, route }) {
      await store.dispatch('page/load_service', route.params.slug)
    },
    mixins: [seo_head],
    computed: {
      ...mapState("page", {
        content: state => objectValue(state, "pages.service", {})
      })
    },
  };
</script>

<style lang="scss">
  .v-index {
    &-section {
      padding: rem(180) 0 0 0;
      @include for-width(+ tablet) {
        padding: rem(260) 0 0 0;
      }
    }
  }
</style>
