<template>
  <case-wrap :space="space" is_full_width>
    <figure class="c-case-block__image">
      <img :src="image" />
    </figure>
  </case-wrap>
</template>

<script>
import ParallaxContainer from "~/components/parallax/parallax-container";
import CaseWrap from "~/components/case/case-wrap";
export default {
  name: "case-block-full-width",
  components: { CaseWrap, ParallaxContainer },
  props: {
    image: String,
    space: String,
  },
};
</script>

<style lang="scss">
.c-case-block__image {
  width: 100%;
  overflow: hidden;
  & img {
    width: 100%;
    height: auto;
  }
}

@include for-width(+ tablet) {
  .c-case-block__image {
    padding: 0 rem(50);
  }
  .-content-layout .c-case-block__image {
    padding: 0;
  }
}
@include for-width(+ desktop-lg) {
  .c-case-block__image {
    padding: 0 rem(68);
  }
  .-content-layout .c-case-block__image {
    padding: 0;
  }
}
</style>
