<template>
  <section class="c-case-block" :class="`_${space}`">
    <div class="container">
      <div
        :class="{ '-menu-open': !!overlay, '-content-layout': !is_full_width }"
      >
        <slot></slot>
      </div>
    </div>
  </section>
</template>

<script>
import { mapFields } from "vuex-map-fields";

export default {
  name: "case-wrap",
  props: {
    space: {
      type: String
    },
    is_full_width: Boolean
  },
  computed: {
    ...mapFields("overlay", ["overlay"])
  }
};
</script>

<style lang="scss">
.c-case-block {
  &._space_20 {
    margin-bottom: rem(20);
  }
  &._space_30 {
    margin-bottom: rem(30);
    @include for-width(-mob-lg) {
      margin-bottom: rem(20);
    }
  }
  &._space_50 {
    margin-bottom: rem(50);
    @include for-width(-mob-lg) {
      margin-bottom: rem(30);
    }
  }
  &._space_80 {
    margin-bottom: rem(80);
  }
  &._space_260 {
    margin-bottom: rem(260);
    @include for-width(-mob-lg) {
      margin-bottom: rem(180);
    }
  }
  &__text {
    color: $black;
    h1,
    h2,
    h3 {
      margin-bottom: rem(20);
      a {
        display: none;
      }
    }
    h1 {
      @extend %h1-title;
    }
    h2 {
      @extend %h2-title;
    }
    h3 {
      @extend %h3-title;
    }
    p {
      @extend %text-main;
      a {
        @extend %btn-default;
        margin: 0;
        color: $black;
      }
    }
    a {
      @extend .btn-normal-decoration;
      color: $black;
      margin-top: rem(20);
    }
  }
}
</style>
