<template>
  <case-wrap :space="space">
    <div class="c-case-block__text">
      <markdown-it-vue :content="text_content" />
    </div>
  </case-wrap>
</template>

<script>
import CaseWrap from "~/components/case/case-wrap";
export default {
  name: "case-block-text-content",
  components: { CaseWrap },
  props: {
    space: String,
    text_content: String,
  },
};
</script>

<style lang="scss">
.c-case-block__text p {
  color: $secondary;
}
</style>
