<template>
  <case-wrap :space="space">
    <figure class="c-case-block__image">
      <img :src="image" />
    </figure>
  </case-wrap>
</template>

<script>
import CaseWrap from "~/components/case/case-wrap";
import ParallaxContainer from "~/components/parallax/parallax-container";
export default {
  name: "case-block-small-image",
  components: { ParallaxContainer, CaseWrap },
  props: {
    image: String,
    space: String,
  },
};
</script>

<style lang="scss" scoped>
</style>
