<template>
  <div class="c-brief-contact">
    <Wrapper>
      <h3 class="c-brief-contact__title">Contact Information.</h3>
      <BaseInput placeholder="Name" />
      <BaseInput placeholder="Company" />
      <BaseInput placeholder="Email" />
      <BaseInput placeholder="Phone number" />
      <BaseInputMessenger :items="items" />
      <BaseInput placeholder="Your message" />
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import BaseDropDown from "~/components/Base/BaseDropDown";
import BaseInput from "~/components/Base/BaseInput";
import BaseInputMessenger from "~/components/Base/BaseInputMessenger";

export default {
  name: "BriefContact",
  components: {
    Wrapper,
    BaseDropDown,
    BaseInput,
    BaseInputMessenger
  },
  data() {
    return {
      items: ["Facebook Messenger", "WhatsApp", "Telegram"]
    };
  }
};
</script>

<style lang="scss">
.c-brief-contact {
  margin-bottom: rem(80);

  &__title {
    @extend %h3-title;
    color: $primary;
    margin-bottom: rem(60);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
  }

  &__textdown {
    margin-top: rem(20);

    @extend %text-secondary;
    color: $secondary;
  }
}
</style>
