<template>
  <div class="c-send-resume">
    <Wrapper>
      <h3 class="c-send-resume__title">Contact Information.</h3>
      <BaseDropDown :options="messenger" />
      <BaseInput placeholder="Name, Surname" />
      <BaseInput placeholder="Email" />
      <BaseInput placeholder="Phone number" />
      <BaseInputMessenger :items="items" />
      <BaseInput placeholder="Your message" />
      <button class="c-send-resume__button">
        <span>Attach resume file</span>
      </button>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import BaseDropDown from "~/components/Base/BaseDropDown";
import BaseInput from "~/components/Base/BaseInput";
import BaseInputMessenger from "~/components/Base/BaseInputMessenger";

export default {
  name: "SendResume",
  components: {
    Wrapper,
    BaseDropDown,
    BaseInput,
    BaseInputMessenger,
  },
  data() {
    return {
      messenger: ["item 1", "item 2", "item 3", "item 4", "item 5"],
      items: ["Facebook Messenger", "WhatsApp", "Telegram"],
    };
  },
};
</script>

<style lang="scss">
.c-send-resume {
  margin-bottom: rem(80);

  &__title {
    @extend %h3-title;
    color: $primary;
    margin-bottom: rem(60);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
  }

  &__button {
    width: 100%;
    max-width: rem(683);

    & span {
      display: inline-block;
      @extend %text-main;
      width: 100%;
      padding: rem(15);
      @extend %border-primary;
      @extend %transition;

      &:hover {
        color: $secondary;
        @extend %border-default;
      }
    }
  }
}
</style>
