@mixin shadow_default() {
  border: none;
  border-bottom: 1px solid #656a77;
}

@mixin shadow_top() {
  border: none;
  border-top: 1px solid #656a77;
}

@mixin shadow_focus() {
  border-bottom: 1px solid #4579ff;
}

@mixin shadow_error() {
  border-bottom: 1px solid #ff1b5f;
}

@mixin left-shadow() {
  border-left: 1px solid #656a77;
}

@mixin top-shadow() {
  border-top: 1px solid #656a77;
}
