%bg-reset {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

%evt-none {
  pointer-events: none;
}

%evt-all {
  pointer-events: all;
}

%transition {
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

// Border
%border-default {
  border: none;
  border-bottom: 1px solid $secondary;
}

%border-primary {
  border: none;
  border-bottom: 1px solid $primary;
}

%border-focus {
  border: none;
  border-bottom: 1px solid #4579ff;
}

%border-error {
  border: none;
  border-bottom: 1px solid $accent;
}

%border-left {
  border: none;
  border-left: 1px solid $secondary;
}
%border-top {
  border: none;
  border-top: 1px solid #656a77;
}
