$mqs: (
  //name         //breakpoint
    "small": 320,
  "mobile": 350,
  "medium": 400,
  "mob": 576,
  "mob-lg": 660,
  "tablet": 750,
  "laptop": 1200,
  "laptop-big": 1350,
  "desktop": 1400,
  "desktop-lg": 1700
);

@mixin for-width($size, $size2: null) {
  @each $name, $bp in $mqs {
    $max: calc(#{em($bp)} - #{em(1)});
    $min: em($bp);
    @if $size == "-#{$name}" {
      @media (max-width: $max) {
        @content;
      }
    }
    @if $size == "+#{$name}" {
      @media (min-width: $min) {
        @content;
      }
    }
    @if $size2 == "#{$name}" {
      @each $name, $bp in $mqs {
        $min: em($bp);
        @if $size == "#{$name}" {
          @media (min-width: $min) and (max-width: $max) {
            @content;
          }
        }
      }
    }
  }
}

/*
._example {
  @include for-width(-desktop) {
    opacity: 0.5;
  };
}
*/
