//---------------------------------------------fonts
$font_path: "~static/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: "~assets/img/";
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$black: #000;

// Primary colors
$primary: rgb(44, 46, 53);
$secondary: rgb(101, 106, 119);
$white: #fff;
$accent: rgb(255, 27, 95);





$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
