<template>
  <div class="c-hello-block">
    <template v-if="imgBottom">
      <Wrapper>
        <h1 class="c-hello-block-bottom__title">{{ title }}</h1>
        <p class="c-hello-block-bottom__text">{{ text }}</p>
      </Wrapper>
      <div class="container">
        <figure class="c-hello-block-bottom__img">
          <img :src="img" alt />
        </figure>
      </div>
    </template>
    <template v-else>
      <div class="container">
        <figure class="c-hello-block-top__img">
          <img :src="img" alt />
        </figure>
      </div>
      <Wrapper>
        <h1 class="c-hello-block-top__title">{{ title }}</h1>
        <p class="c-hello-block-top__text">{{ text }}</p>
      </Wrapper>
    </template>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "helloBlock",
  components: {
    Wrapper,
  },
  props: {
    imgBottom: Boolean,
    title: String,
    text: String,
    img: String,
  },
};
</script>

<style lang="scss">
.c-hello-block {
  &-top {
    &__img {
      width: 100%;
      @include for-width(+ laptop) {
        width: calc(100% - 100px);
      }
      height: rem(215);
      @include for-width(+ medium) {
        height: rem(318);
      }
      @include for-width(+ laptop) {
        height: rem(500);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin: 0 0 rem(80);
      @include for-width(+ laptop) {
        margin: 0 rem(50) rem(80);
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @extend %h1-title;
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-top: rem(20);
    }
  }

  &-bottom {
    &__img {
      width: 100%;
      @include for-width(+ laptop) {
        width: calc(100% - 100px);
      }
      height: rem(215);
      @include for-width(+ medium) {
        height: rem(318);
      }
      @include for-width(+ laptop) {
        height: rem(500);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin: rem(80) 0 0;
      @include for-width(+ laptop) {
        margin: rem(80) rem(50) 0;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @extend %h1-title;
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-top: rem(20);
    }
  }
}
</style>