<template>
  <div class="c-img-description">
    <template v-if="variant === 'one'">
      <Wrapper>
        <figure class="c-img-description-one__img">
          <img :src="img" alt />
        </figure>
        <h2 class="c-img-description-one__header">{{ header }}</h2>
        <h3 class="c-img-description-one__title">{{ title }}</h3>
        <p class="c-img-description-one__text">{{ text }}</p>
      </Wrapper>
    </template>
    <template v-else-if="variant === 'two'">
      <Wrapper>
        <figure class="c-img-description-two__img">
          <img :src="img" alt />
        </figure>
        <h2 class="c-img-description-two__header">{{ header }}</h2>
        <h3 class="c-img-description-two__title">{{ title }}</h3>
        <p class="c-img-description-two__text">{{ text }}</p>
      </Wrapper>
    </template>
    <template v-else-if="variant === 'three'">
      <Wrapper>
        <h2 class="c-img-description-three__header">{{ header }}</h2>
        <h3 class="c-img-description-three__title">{{ title }}</h3>
        <figure class="c-img-description-three__img">
          <img :src="img" alt />
        </figure>
        <p class="c-img-description-three__text">{{ text }}</p>
      </Wrapper>
    </template>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "imgDescription",
  components: {
    Wrapper,
  },
  props: {
    variant: String,
    header: String,
    title: String,
    text: String,
    img: String,
  },
};
</script>

<style lang="scss">
.c-img-description {
  &-one {
    &__img {
      width: 100%;
      height: rem(320);
      @include for-width(+ tablet) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin-bottom: rem(30);

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__header {
      @extend %h2-title;
      margin-bottom: rem(20);
    }

    &__title {
      @extend %h3-title;
      margin-bottom: rem(20);
    }

    &__text {
      @extend %text-main;
      color: $secondary;
    }
  }

  &-two {
    &__img {
      width: 100%;
      height: rem(320);
      @include for-width(+ tablet) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin-bottom: rem(30);
      @include for-width(+ tablet) {
        margin-bottom: rem(50);
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__header {
      @extend %h2-title;
      margin-bottom: rem(20);
    }

    &__title {
      @extend %h3-title;
      margin-bottom: rem(20);
    }

    &__text {
      @extend %text-main;
      color: $secondary;
    }
  }

  &-three {
    &__img {
      width: 100%;
      height: rem(320);
      @include for-width(+ tablet) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin-top: rem(50);
      margin-bottom: rem(50);

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__header {
      @extend %h2-title;
    }

    &__title {
      @extend %h3-title;
    }

    &__text {
      @extend %text-main;
      color: $secondary;
    }
  }
}
</style>