<template>
  <div class="c-large-img-description">
    <template v-if="variant === 'one'">
      <div class="container">
        <figure class="c-large-img-description-one__img c-large-img-description__image">
          <img :src="img" alt />
        </figure>
      </div>
      <Wrapper>
        <p class="c-large-img-description-one__text">{{ text }}</p>
      </Wrapper>
    </template>
    <template v-else-if="variant === 'two'">
      <div class="container">
        <figure class="c-large-img-description-two__img">
          <img :src="img" alt />
        </figure>
      </div>
      <Wrapper>
        <h2 class="c-large-img-description-two__title">{{ title }}</h2>
        <p class="c-large-img-description-two__text">{{ text }}</p>
      </Wrapper>
    </template>
    <template v-else-if="variant === 'three'">
      <Wrapper>
        <h2 class="c-large-img-description-three__title">{{ title }}</h2>
        <p class="c-large-img-description-three__text">{{ text }}</p>
      </Wrapper>
      <div class="container">
        <figure class="c-large-img-description-three__img">
          <img :src="img" alt />
        </figure>
      </div>
    </template>
    <template v-else>
      <Wrapper>
        <h2 class="c-large-img-description-four__title">{{ title }}</h2>
      </Wrapper>
      <div class="container">
        <figure class="c-large-img-description-four__img">
          <img :src="img" alt />
        </figure>
      </div>
      <Wrapper>
        <p class="c-large-img-description-four__text">{{ text }}</p>
      </Wrapper>
    </template>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "LargeImgDescription",
  components: {
    Wrapper,
  },
  props: {
    variant: String,
    title: String,
    text: String,
    img: String,
  },
};
</script>

<style lang="scss">
.c-large-img-description {
  &__image {
    width: 100%;
    @include for-width(+ laptop) {
      width: calc(100% - 100px);
    }
    height: rem(200);
    @include for-width(+ tablet) {
      height: rem(318);
    }
    @include for-width(+ laptop) {
      height: rem(550);
    }
    @include for-width(+ desktop-lg) {
      height: rem(683);
    }
  }
  &-one,
  &-two {
    &__img {
      margin: 0 0 rem(30);
      @include for-width(+ laptop) {
        margin: 0 rem(50) rem(30);
      }
    }

    &__title {
      @extend %h2-title;
      margin-top: rem(50);
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-top: rem(20);
    }
  }

  &-three {
    &__img {
      width: 100%;
      @include for-width(+ laptop) {
        width: calc(100% - 100px);
      }
      height: rem(200);
      @include for-width(+ tablet) {
        height: rem(318);
      }
      @include for-width(+ laptop) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin: rem(50) rem(50) 0;
      @include for-width(+ laptop) {
        margin: rem(50) 0 0;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @extend %h2-title;
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-top: rem(20);
    }
  }

  &-four {
    &__img {
      width: 100%;
      @include for-width(+ laptop) {
        width: calc(100% - 100px);
      }
      height: rem(200);
      @include for-width(+ tablet) {
        height: rem(318);
      }
      @include for-width(+ laptop) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }
      margin: rem(50) 0 0;
      @include for-width(+ laptop) {
        margin: rem(50) rem(50) 0;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @extend %h2-title;
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-top: rem(30);
    }
  }
}
</style>
