<template>
  <div class="c-list-img">
    <template v-if="large">
      <div class="container">
        <template v-for="img of img">
          <figure :key="img" class="c-list-img__large">
            <img :src="img" alt />
          </figure>
        </template>
      </div>
    </template>
    <template v-else>
      <Wrapper>
        <template v-for="img of img">
          <figure :key="img" class="c-list-img__small">
            <img :src="img" alt />
          </figure>
        </template>
      </Wrapper>
    </template>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "ListImg",
  components: {
    Wrapper,
  },
  props: {
    img: Array,
    large: Boolean,
  },
};
</script>

<style lang="scss">
.c-list-img {
  &__small {
    width: 100%;
    height: rem(320);
    @include for-width(+ tablet) {
      height: rem(500);
    }
    @include for-width(+ laptop) {
      height: rem(550);
    }
    @include for-width(+ desktop-lg) {
      height: rem(683);
    }
    margin-bottom: rem(80);
    @include for-width(+ tablet) {
      margin-bottom: rem(50);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__large {
    width: 100%;
    @include for-width(+ laptop) {
      width: calc(100% - 100px);
    }
    height: rem(320);
    @include for-width(+ tablet) {
      height: rem(500);
    }
    @include for-width(+ laptop) {
      height: rem(550);
    }
    @include for-width(+ desktop-lg) {
      height: rem(683);
    }
    margin: 0 0 rem(50);
    @include for-width(+ laptop) {
      margin: 0 rem(50) rem(50);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>