<template>
  <div class="c-title-text">
    <Wrapper>
      <h1>Headtitle.</h1>
      <h2>Headtitle.</h2>
      <h3>Headtitle.</h3>
      <p>Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing. Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing.</p>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "TitleText",
  components: {
    Wrapper,
  },
  props: {
    variant: String,
    title: String,
    text: String,
    img: String,
  },
};
</script>

<style lang="scss">
.c-title-text {
  & h1 {
    @extend %h1-title;
  }

  & h2 {
    @extend %h2-title;
  }

  & h3 {
    @extend %h2-title;
    margin-top: rem(50);
  }

  & p {
    @extend %text-main;
    margin-top: rem(20);
  }
}
</style>