<template>
  <div class="c-title-img">
    <template v-if="imgBottom">
      <Wrapper>
        <h2 class="c-title-img-bottom__title">{{ title }}</h2>
        <figure class="c-title-img-bottom__img">
          <img :src="img" alt />
        </figure>
      </Wrapper>
    </template>
    <template v-else>
      <Wrapper>
        <figure class="c-title-img-top__img">
          <img :src="img" alt />
        </figure>
        <h2 class="c-title-img-top__title">{{ title }}</h2>
      </Wrapper>
    </template>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "titleImg",
  components: {
    Wrapper,
  },
  props: {
    imgBottom: Boolean,
    title: String,
    img: String,
  },
};
</script>

<style lang="scss">
.c-title-img {
  &-top {
    &__img {
      width: 100%;
      height: rem(320);
      @include for-width(+ tablet) {
        height: rem(500);
      }
      @include for-width(+ laptop) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @extend %h2-title;
      margin-top: rem(50);
    }
  }

  &-bottom {
    &__img {
      width: 100%;
      height: rem(320);
      @include for-width(+ tablet) {
        height: rem(500);
      }
      @include for-width(+ laptop) {
        height: rem(550);
      }
      @include for-width(+ desktop-lg) {
        height: rem(683);
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @extend %h2-title;
      margin-bottom: rem(50);
    }
  }
}
</style>