<template>
  <div class="parallax-container">
    <div
      :style="{ transform: `translate3d(0, ${offset}px, 0)` }"
      class="parallax-element"
    >
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "parallax-container",
  props: {
    factor: {
      type: Number,
      default: 0.3
    }
  },
  data() {
    return {
      height: 0,
      scrollFactor: 0,
      width: 0
    };
  },
  mounted() {
    this.calcParallax();

    // We're using a `requestAnimationFrame()`
    // for optimal performance.
    const eventHandler = () => requestAnimationFrame(this.calcParallax);
    window.addEventListener("resize", eventHandler);
    window.addEventListener("scroll", eventHandler);
    // Remove the scroll hanlder when the
    // component is destroyed.
    this.$on(`hook:destroyed`, () => {
      window.removeEventListener("resize", eventHandler);
      window.removeEventListener("scroll", eventHandler);
    });
  },
  methods: {
    calcParallax() {
      const containerRect = this.$el.getBoundingClientRect();

      this.height = containerRect.height;
      this.width = containerRect.width;

      const viewportOffsetTop = containerRect.top;
      const viewportOffsetBottom = window.innerHeight - viewportOffsetTop;

      this.scrollFactor =
        viewportOffsetBottom / (window.innerHeight + this.height);
    }
  },
  computed: {
    offset() {
      // The offset is relative to the height of
      // the element. This means, if the factor is
      // 0.5, the element is moved half its height
      // over the full scroll distance of the viewport.
      return this.scrollFactor * this.height * 1.6 * this.factor - 70;
    }
  }
};
</script>

<style lang="scss">
.parallax-container {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.parallax-element {
  width: inherit;
  height: inherit;
  overflow: hidden;
  /*transition: all .3s ease;*/
  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
</style>
