<template>
  <div>
    <Wrapper>
      <div class="c-test-section">
        <h1 class="c-test-section__title">{{ title }}</h1>
        <p class="c-test-section__text">{{ text }}</p>
        <template v-if="section_list.length > 0">
          <div class="c-test-section__list">
            <template v-if="is_jobs">
              <CardJobs
                v-for="item in section_list"
                :key="item.id"
                :title="item.title"
                :text="item.short_description"
                @click="$emit('open-job', item.id)"
                :image="'/api/' + item.cover_image.formats.small.url"
              />
            </template>
            <template v-else>
              <CardProject
                v-for="item in section_list"
                :key="item.id"
                :title="item.title"
                :text="item.text"
                :image="item.image"
                :icon="item.icon"
                :to="item.to"
              />
            </template>
          </div>
        </template>
        <template v-if="have_link">
          <div class="c-test-section__more">
            <nuxt-link class="c-test-section__more-route" to="#">
              <slot name="link-text"></slot>
            </nuxt-link>
          </div>
        </template>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import CardProject from "~/components/Base/CardProject";
import CardJobs from "~/components/Base/CardJobs";
export default {
  name: "BasePageSection",
  components: { CardJobs, CardProject, Wrapper },
  props: {
    title: String,
    text: String,
    is_jobs: Boolean,
    have_link: Boolean,
    section_list: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style lang="scss">
.c-test-section {
  &__title {
    display: flex;
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }

  &__more {
    &-route {
      @extend %load-more;
    }
  }
}
</style>
