<template>
  <div>
    <BaseInput :validation_error.sync="validation_error.name"
               v-model="name"
               placeholder="Name" />
    <BaseInput :validation_error.sync="validation_error.company"
               v-model="company"
               placeholder="Company" />
    <BaseInput :validation_error.sync="validation_error.email"
               check_email
               v-model="email"
               placeholder="Email" />
    <BaseInput :validation_error.sync="validation_error.phone"
               is_only_numbers
               v-model="phone"
               placeholder="Phone number" />
    <BaseInputMessenger :items="items" v-model="messenger"/>
    <BaseTextarea v-model="message_text" placeholder="Your message"/>
  </div>
</template>

<script>
  import BaseInput from "~/components/Base/BaseInput";
  import BaseInputMessenger from "~/components/Base/BaseInputMessenger";
  import BaseTextarea from "~/components/Base/BaseTextarea";
  import contact_from from '~/mixins/contact_from'
  import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
  export default {
    name: "ContactForm",
    components: {BaseButtonNormal, BaseTextarea, BaseInputMessenger, BaseInput},
    mixins: [contact_from]
  }
</script>

<style lang="scss" scoped>

</style>
