<template>
  <div class="c-expertise">
    <Wrapper>
      <div class="c-expertise-section">
        <h2 class="c-expertise-section__title">Our expertise.</h2>
        <h3 class="c-expertise-section__subtitle">Websites.</h3>
        <p
          class="c-expertise-section__text"
        >There are no unimportant details in our work. Any website that goes into development goes through the mandatory business processes and a brief website development cycle: problem research, user analysis, requirements collection, hypothesis testing, creating user stories and backlogs, concept creation, prototyping, UX architecture development, UI design development, layout and coding, programming, quality control and testing, content filling, additional services, release.</p>
        <h3 class="c-expertise-section__subtitle">Digital Product..</h3>
        <p
          class="c-expertise-section__text"
        >Digital products mean creating a huge amount of different digital content. Our employees have extensive experience and expertise in creating products such as illustrations, logos, infographics, image processing, 3D modeling, motion design, video editing, creating commercials, branding, rebranding, product designs, product cases, brand books, copywriting, and rewriting.</p>
        <figure class="c-expertise-section__img">
          <img src="expertise.jpg" alt />
        </figure>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "Expertise",
  components: { Wrapper },
};
</script>

<style lang="scss">
.c-expertise-section {
  &__title {
    @extend %h2-title;
    margin-bottom: rem(50);
  }

  &__subtitle {
    @extend %h3-title;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(50);
  }

  &__img {
    width: 100%;
    max-width: rem(683);
    height: rem(683);

    & img {
      object-fit: cover;
    }
  }
}
</style>
