<template>
  <nav class="c-navigation">
    <div class="container container-menu">
      <div class="nav">
        <div class="nav__logo">
          <Logotype />
        </div>
        <div
          class="nav__wrapper -content-layout -menu-layout"
          :class="{ '-menu-open': overlay }"
        >
          <ul class="nav__menu">
            <li
              v-for="(item, index) of menu_items"
              :key="index"
              class="nav__menu-item"
            >
              <nuxt-link
                class="nav__menu-link btn-normal-decoration"
                :to="item.route_link"
              >
                <span @click="hider_overlay">{{ item.name }}</span>
              </nuxt-link>
            </li>
          </ul>
        </div>
        <div class="nav__burger">
          <BurgerButton
            :is_active="!!overlay"
            @click="set_overlay(overlay ? null : 'OverlayMenu')"
          />
        </div>
      </div>
    </div>
    <OverlayContainer />
  </nav>
</template>

<script>
import Logotype from "~/components/Logotype";
import BurgerButton from "~/components/Base/BurgerButton";
import { mapFields } from "vuex-map-fields";
import { mapActions } from "vuex";
import OverlayContainer from "~/components/Overlay/Container";
export default {
  name: "Header",
  components: { OverlayContainer, BurgerButton, Logotype },
  data() {
    return {
      menu_items: [
        {
          name: "Portfolio",
          route_link: "/portfolio"
        },
        {
          name: "About",
          route_link: "/about"
        },
        {
          name: "Fill out brief",
          route_link: "/brief"
        }
      ]
    };
  },
  methods: {
    ...mapActions("overlay", ["set_overlay"]),
    hider_overlay() {
      this.$store.dispatch("overlay/set_overlay", null);
    }
  },
  computed: {
    ...mapFields("overlay", ["overlay"])
  }
};
</script>

<style lang="scss">
.c-navigation {
  height: rem(60);
  transition: all 0.5s ease;
  &.hide {
    .nav {
      &__burger {
        transition: all 0.5s ease;
        transform: translateY(-10px);
      }
    }
    transform: translateY(-100%);
  }
  &.enter {
    transform: translateY(0);
  }
  @include for-width(+ medium) {
    height: rem(76);
    padding-top: rem(12);
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  background-color: $white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(54);
  &__logo {
    @include for-width(-tablet) {
      padding-top: rem(10);
    }
  }
  &__wrapper {
    padding-top: rem(10);
    @include for-width(+ medium) {
      padding-top: rem(10);
    }
  }
  &__wrapper,
  &__menu {
    height: 100%;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include for-width(+ mob) {
      justify-content: flex-start;
    }
    &-item {
      display: inline-block;
      margin-right: rem(11);
      margin-left: rem(20);
      &:not(:last-child) {
        display: none;
      }
      @include for-width(+ mob) {
        margin-left: 0;
        margin-right: rem(31);
        &:not(:last-child) {
          display: inline;
        }
      }
      @include for-width(+ tablet) {
        margin-right: rem(50);
      }
      @include for-width(+ laptop) {
        margin-right: rem(65);
      }
      @include for-width(+ desktop-lg) {
        margin-right: rem(81);
      }
    }
  }
  &__burger {
    padding-top: rem(7);
    @include for-width(+ tablet) {
      padding-top: rem(14);
    }
  }
}
</style>
