<template>
  <nuxt-link class="logotype" to="/">
    <svg
      width="53"
      height="47"
      viewBox="0 0 53 47"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      @click="hider_overlay"
    >
      <path
        d="M49.4906 39C51.434 39 53 37.4382 53 35.5C53 33.5618 51.434 32 49.4906 32C47.5472 32 46 33.5618 46 35.5C46 37.4382 47.5472 39 49.4906 39Z"
        fill="#FF1B5F"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.1567 1.63542C9.41493 3.48477 8.10957 7.07123 5.49884 14.2441L4.0363 18.2624C1.42557 25.4354 0.120202 29.0218 1.03178 32.2009C1.32618 33.2276 1.78035 34.2015 2.37761 35.087C4.22695 37.8288 7.81341 39.1341 14.9863 41.7449L19.0046 43.2074L19.0047 43.2074C26.1776 45.8182 29.764 47.1235 32.9431 46.2119C33.9698 45.9175 34.9437 45.4634 35.8292 44.8661C37.4889 43.7466 38.6223 41.9905 39.8375 39.1877H38.2125V37.7351C37.1143 38.4362 35.8097 38.8425 34.4101 38.8425C30.5022 38.8425 27.3342 35.6745 27.3342 31.7666C27.3342 27.8586 30.5022 24.6906 34.4101 24.6906C35.8097 24.6906 37.1143 25.0969 38.2125 25.798V19.4206H42.4698V32.3048C42.4755 32.289 42.4813 32.2732 42.4871 32.2574L43.9496 28.2391C46.5603 21.0662 47.8657 17.4797 46.9541 14.3007C46.6597 13.2739 46.2056 12.3 45.6083 11.4145C43.7589 8.67274 40.1725 7.36738 32.9996 4.75665L28.9813 3.29411C21.8083 0.683379 18.2219 -0.621985 15.0428 0.289593C14.0161 0.583995 13.0422 1.03816 12.1567 1.63542ZM23.6092 23.8171C25.0508 23.8171 26.2194 22.6485 26.2194 21.2069C26.2194 19.7654 25.0508 18.5967 23.6092 18.5967C22.1676 18.5967 20.999 19.7654 20.999 21.2069C20.999 22.6485 22.1676 23.8171 23.6092 23.8171ZM21.5155 25.0225H25.7728V39.1876H21.5155V25.0225ZM30.9661 31.7666C30.9661 33.6686 32.5081 35.2106 34.4101 35.2106C36.3122 35.2106 37.8541 33.6686 37.8541 31.7666C37.8541 29.8645 36.3122 28.3226 34.4101 28.3226C32.5081 28.3226 30.9661 29.8645 30.9661 31.7666Z"
        fill="#2C2E35"
      />
    </svg>
  </nuxt-link>
</template>

<script>
export default {
  name: "Logotype",
  methods: {
    hider_overlay() {
      this.$store.dispatch("overlay/set_overlay", null);
    }
  }
};
</script>

<style lang="scss">
.logotype svg {
  width: rem(40);
  height: rem(50);
  position: relative;
  z-index: 101;
  @include for-width(+ tablet) {
    width: rem(53);
    height: rem(50);
  }
}
</style>
