<template>
  <div>
    <Wrapper>
      <div class="c-test-section">
        <h1 class="c-test-section__title">{{ title }}</h1>
        <p class="c-test-section__text">{{ text }}</p>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "PageHeader",
  components: { Wrapper },
  props: {
    title: String,
    text: String
  }
};
</script>

<style lang="scss">
.c-test-section {
  &__title {
    display: flex;
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }
}
</style>
