<template>
  <div class="c-partners-team">
    <Wrapper>
      <div class="c-partners-team-section">
        <h2
          class="c-partners-team-section__title"
        >We are team that will help you grow your business.</h2>
        <div class="c-partners-team-section__list">
          <SimpleCard
            v-for="card in cards"
            :key="card.id"
            :image="card.image"
            :title="card.title"
            :text="card.text"
          />
        </div>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import SimpleCard from "~/components/Base/SimpleCard";
export default {
  name: "FrontAbout",
  components: { SimpleCard, Wrapper },
  data() {
    return {
      cards: [
        {
          id: 2342,
          image: "/images/about-card-1.jpg",
          title: "We flip your user’s perceptions",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
        },
        {
          id: 456,
          image: "/images/about-card-2.jpg",
          title: "We flip your user’s perceptions",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.c-partners-team {
  &-section {
    margin-top: rem(80);
    &__title {
      @extend %h2-title;
      color: $primary;
      margin-bottom: rem(80);
    }
  }
}
</style>
