<template>
  <div class="c-result-sending">
    <Wrapper>
      <h3 class="c-result-sending__title">{{ title }}</h3>
      <p class="c-result-sending__text">{{ text }}</p>
      <template v-if="is_error">
        <BaseButtonNormal @click="$emit('send-again')">
          <span>Send again</span>
        </BaseButtonNormal>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: "ResultSending",
  props: {
    title: String,
    text: String,
    is_error: Boolean,
  },
  components: {
    BaseButtonNormal,
    Wrapper,
  },
  mounted() {
    if(process.client) {
      const scroll_pos = document.querySelector('.c-result-sending').getBoundingClientRect().top + pageYOffset - 200;
      window.scrollTo(0, scroll_pos)
    }
  }
};
</script>

<style lang="scss">
.c-result-sending {
  &__title {
    @extend %h3-title;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
  }

  & button {
    margin-top: rem(30);
  }
}
</style>
