<template>
  <div class="c-sitemap">
    <Wrapper>
      <h2 class="c-sitemap__title">Sitmap.</h2>
      <ul class="c-sitemap__list">
        <li v-for="item in sitemap_list" :key="item.name" class="c-sitemap__item">
          <nuxt-link :to="item.route_link" class="c-sitemap__link btn-large-decoration">
            <span>{{ item.name }}</span>
          </nuxt-link>
        </li>
      </ul>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";

export default {
  components: {
    Wrapper,
  },
  data() {
    return {
      sitemap_list: [
        {
          name: "Main page",
          route_link: "/",
        },
        {
          name: "Portfolio",
          route_link: "/portfolio",
        },
        {
          name: "About",
          route_link: "/about",
        },
        {
          name: "Fill out brief",
          route_link: "/brief",
        },
        {
          name: "Our projects",
          route_link: "/internal-projects",
        },
        {
          name: "Blog",
          route_link: "/blog",
        },
        {
          name: "Contact",
          route_link: "/project",
        },
        {
          name: "Jobs",
          route_link: "/jobs",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.c-sitemap {
  &__title {
    @extend %h1-title;
    margin-bottom: rem(80);
  }

  &__list {
    columns: 2;
  }

  &__item {
    margin-bottom: rem(20);
  }
}
</style>
