<template>
  <div>
    <Wrapper>
      <div class="c-tabs-section">
        <h1 class="c-tabs-section__title">{{ title }}</h1>
<!--        <BaseTabs :tabs="tabs" />-->
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "BasePageSection",
  components: { Wrapper },
  props: {
    title: String,
    tabs: Array
  }
};
</script>

<style lang="scss">
.c-tabs-section {
  &__title {
    display: flex;
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  & .c-tab {
    margin-bottom: rem(80);
  }
}
</style>
