<template>
  <div class="c-expertise-first">
    <Wrapper>
      <div class="c-expertise-first__wrap">
        <h1 class="c-expertise-first__title"> {{ title }} </h1>
        <template v-for="item in explaining" @key="item.id">
          <template v-if="item.has_image">
            <figure class="c-expertise-first__img">
              <img :src="item.cover" alt />
            </figure>
          </template>
          <h3 class="c-expertise-first__list-title">{{ item.title }}</h3>
          <p class="c-expertise-first__list-text">{{ item.description }}</p>
        </template>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "ExpertiseFirst",
  components: { Wrapper },
  props: {
    title: String,
    explaining: Array
  },
  data() {
    return {
      userInterface_list: [
        {
          title: "We flip your user’s perceptions",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
        },
        {
          title: "We flip your user’s perceptions",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
        },
        {
          title: "We flip your user’s perceptions",
          text:
            "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies. Pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.s",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.c-expertise-first {
  &__title {
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(80);
  }

  &__img {
    margin-bottom: rem(30);

    & img {
      width: 100%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__list {
    &-title {
      @extend %h3-title;
      margin-bottom: rem(20);
    }

    &-text {
      @extend %text-main;
      color: $secondary;
      margin-bottom: rem(80);
    }
  }
}
</style>
