<template>
  <div class="c-expertise-form">
    <Wrapper>
      <div class="c-expertise-form__wrap">
        <template v-if="!status">
          <h1 class="c-expertise-form__title">Let’s talk.</h1>
          <p class="c-expertise-form__text">If you have suggestions, an idea, a project or just want to talk. Fill out the form and we will contact you shortly.</p>
          <ContactForm/>
          <BaseButtonNormal class="c-expertise-form__link" :disabled="is_valid" @click="sender">
            <span>Get in touch</span>
          </BaseButtonNormal>
          <p class="c-expertise-form__small">By clicking on the "Get in touch" button, you consent to the processing of your personal data</p>
        </template>
        <template v-else>
          <ResultSending
            @send-again="sender"
            :title="status_text.title"
            :text="status_text.text"
            :is_error="status === 'error'"
          />
        </template>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import LetsTalk from "~/components/Form/LetsTalk";
import ContactForm from "~/components/ContactForm";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
import {mapFields} from "vuex-map-fields";
import {mapActions} from "vuex";
import ResultSending from "~/components/ResultSending";

export default {
  name: "ExpertiseFirst",
  components: {ResultSending, BaseButtonNormal, ContactForm, Wrapper },
  data() {
    return {
      validation_error: {},
    };
  },
  computed: {
    ...mapFields("contact", [
      "status",
      "name",
      "company",
      "email",
      "phone",
      "messenger_name",
      "messenger_id",
      "message_text",
    ]),
    status_text() {
      const status_answer = this.status === "error";
      return {
        title: status_answer
          ? "Something went wrong ...."
          : "Thank you for your appeal.",
        text: status_answer
          ? "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies."
          : "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
      };
    },
    is_valid() {
      return Object.values(this.validation_error).find((e) => !!e);
    },
  },
  methods: {
    sender() {
      if(!(this.name || this.email || this.phone)) return
      const SendingData = {
        [`Лид с сайта (Контактная форма На странице ${this.$route.params.slug})`]: "%0A",
        "Время (у юзера)": new Date(),
        Имя: this.name,
        Компания: this.company,
        Email: this.email,
        Телефон: this.phone,
        Месенжер: this.messenger_name,
        "Юзернейм в месенжере": this.messenger_id,
        "Текст сообщения": this.message_text,
      };

      let SendingString = "------------------------------%0A";
      for (let key in SendingData) {
        SendingString += `<b>${key}</b>: ${SendingData[key]}%0A`;
      }
      SendingString += "------------------------------";
      this.send(SendingString);

    },
    ...mapActions("contact", ["send"]),
  },
  destroyed() {
    this.$store.commit("contact/clean");
  },
};
</script>

<style lang="scss">
.c-expertise-form {
  &__title {
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }

  &__link {
    margin-bottom: rem(20);
    display: inline-block;
  }

  &__small {
    @extend %text-secondary;
    color: $secondary;
    display: block;
  }
}
</style>
