<template>
  <div class="c-more-expertise">
    <Wrapper>
      <div class="c-more-expertise__wrap">
        <h2 class="c-more-expertise__title">More expertises.</h2>
        <template v-for="item in expertise" @key="item.id">
          <h3 class="c-more-expertise__list-title">{{ item.title }}</h3>
          <p class="c-more-expertise__list-text">{{ item.description }}</p>
          <nuxt-link
            class="c-more-expertise__list-link btn-normal-decoration"
            :to="`/services/${item.slug}`"
          >
            <span>Read more</span>
          </nuxt-link>
        </template>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
export default {
  name: "ExpertiseFirst",
  components: { Wrapper },
  props: {
    expertise: Array
  },
  data() {
    return {
      userInterface_list: [
        {
          title: "Websites.",
          text:
            "There are no unimportant details in our work. Any website that goes into development goes through the mandatory business processes and a brief website development cycle: problem research, user analysis, requirements collection, hypothesis testing, creating user stories and backlogs, concept creation, prototyping, UX architecture development, UI design development, layout and coding, programming, quality control and testing, content filling, additional services, release."
        },
        {
          title: "Digital Product.",
          text:
            "Digital products mean creating a huge amount of different digital content. Our employees have extensive experience and expertise in creating products such as illustrations, logos, infographics, image processing, 3D modeling, motion design, video editing, creating commercials, branding, rebranding, product designs, product cases, brand books, copywriting, and rewriting."
        },
        {
          title: "Mobile Applications.",
          text:
            "Creating mobile applications is not very different from the process of creating a website, but has more tasks that are added to the list of already described business processes for system architects and developers when the functionality requires it. Development time is shifted more towards programming and quality control. We are equally good at implementing projects for Android, IOS, and cross-platform applications if necessary."
        },
        {
          title: "Additional services.",
          text:
            "Digital products mean creating a huge amount of different digital content. Our employees have extensive experience and expertise in creating products such as illustrations, logos, infographics, image processing, 3D modeling, motion design, video editing, creating commercials, branding, rebranding, product designs, product cases, brand books, copywriting, and rewriting."
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.c-more-expertise {
  &__title {
    @extend %h2-title;
    color: $primary;
    margin-bottom: rem(50);
  }

  &__img {
    margin-bottom: rem(30);

    & img {
      width: 100%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__list {
    &-title {
      @extend %h3-title;
      margin-bottom: rem(20);
    }

    &-text {
      @extend %text-main;
      color: $secondary;
      margin-bottom: rem(20);
    }

    &-link {
      margin-bottom: rem(80);
      display: inline-block;
    }
  }
}
</style>
