<template>
  <div class="v-index">
    <section class="v-index-section">
      <BasePageSection
        :title="content.title"
        :text="content.description"
        :section_list="cases_list">
      </BasePageSection>
    </section>
  </div>
</template>

<script>
  import BasePageSection from "~/components/BasePageSection";
  import {mapFields} from "vuex-map-fields";
  import {mapState} from "vuex";
  import objectValue from "~/utils/objectValue";
  import seo_head from "~/mixins/seo_head";
  export default {
    name: "our-project",
    components: {
      BasePageSection,
    },
    mixins: [seo_head],
    data() {
      return {
        portfolio_list: [
          {
            id: 1,
            image: "/portfolio/image-1.jpg",
            title: "Project title",
            text:
              "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
            icon: false,
          },
          {
            id: 2,
            image: "/portfolio/image-5.jpg",
            title: "Project title",
            text:
              "From pre-seed to series, we accelerate the companies we believe in by generating.",
            icon: false,
          },
          {
            id: 3,
            image: "/portfolio/image-3.jpg",
            title: "Project title",
            text:
              "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.",
            icon: false,
          },
          {
            id: 4,
            image: "/portfolio/image-4.jpg",
            title: "Project title",
            text:
              "From pre-seed to series, we accelerate the companies we believe in by generating.",
            icon: false,
          },
        ],
      };
    },
    async middleware({ store }) {
      await store.dispatch('page/load', 'internal-case-page');
      await store.dispatch('internal-cases/load');
    },
    computed: {
      ...mapFields('internal-cases', [
        'cases'
      ]),
      ...mapState("page", {
        content: (state) => objectValue(state, "pages.internal-case-page", {}),
      }),
      cases_list() {
        return this.cases.map((proj) => {
          return {
            id: proj.id,
            image: '/api' + proj.cover.url,
            title: proj.title,
            text: proj.short_description,
            icon: false,
            to: `/internal-projects/${proj.id}`
          }
        }).reverse()
      }
    },
  };
</script>

<style lang="scss">
  .v-index {
    &-section {
      padding: rem(180) 0 0 0;
      @include for-width(+ tablet) {
        padding: rem(260) 0 0 0;
      }
    }
  }
</style>
