<template>
  <div class="v-portfolio-case">
    <template v-for="block in one_case.dynamic_block">
      <template
        v-if="block.__component === 'case.img-full-width' ||
      block.__component === 'case.img-full-width-large'"
      >
        <case-block-full-width
          :key="block.id"
          :image="'/api/' + block.image.url"
          :space="block.space.space_height"
        />
      </template>
      <template v-if="block.__component === 'case.img-small'">
        <case-block-small-image
          :key="block.id"
          :image="'/api/' + block.image.url"
          :space="block.space.space_height"
        />
      </template>
      <template v-if="block.__component === 'case.text-block'">
        <case-block-text-content
          :key="block.id"
          :text_content="block.content"
          :space="block.space.space_height"
        />
      </template>
    </template>
  </div>
</template>

<script>
import CaseBlockFullWidth from "~/components/case/case-block-full-width";
import { mapFields } from "vuex-map-fields";
import CaseBlockSmallImage from "~/components/case/case-block-small-image";
import CaseBlockTextContent from "~/components/case/case-block-text-content";
export default {
  name: "_id",
  components: { CaseBlockTextContent, CaseBlockSmallImage, CaseBlockFullWidth },
  async middleware({ store, route }) {
    await store.dispatch("portfolio/load_case", route.params.id);
  },
  computed: {
    ...mapFields("portfolio", ["one_case"]),
  },
  updated() {
    // console.log(this.case)
  },
};
</script>

<style lang="scss">
.v-portfolio-case {
  padding-top: rem(260 + 76);
  @include for-width(-laptop) {
    padding-top: rem(130);
  }
}
</style>
