<template>
  <div class="v-index">
    <section class="v-index-section">
      <BasePageSection
        :title="content.title"
        :text="content.description"
        :section_list="cases_list"
      />
    </section>
  </div>
</template>

<script>
  //await store.dispatch('page/load', 'internal-case-page');
import BasePageSection from "~/components/BasePageSection";

import { mapFields } from 'vuex-map-fields'
  import {mapState} from "vuex";
  import objectValue from "~/utils/objectValue";
  import seo_head from "~/mixins/seo_head";
export default {
  name: "portfolio",
  components: {
    BasePageSection
  },
  async middleware({ store }) {
    await store.dispatch('portfolio/load');
    await store.dispatch('page/load', 'portfolio-page');
  },
  mixins: [seo_head],
  computed: {
    ...mapFields('portfolio', [
      'cases'
    ]),
    ...mapState("page", {
      content: state => objectValue(state, "pages.portfolio-page", {})
    }),
    cases_list() {
      return this.cases.map((proj) => {
        return {
          id: proj.id,
          image: '/api' + proj.cover_image.url,
          title: proj.title,
          text: proj.short_description,
          icon: false,
          to: `/portfolio/${proj.id}`
        }
      }).reverse()
    }
  },
};
</script>

<style lang="scss">
.v-index {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ medium) {
      padding: rem(260) 0 0 0;
    }
  }
}
</style>
