<template>
  <div class="c-share">
    <Icons>
      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 0H2H0V2V16V18H2H16H18V16V8H16V16H2V2H10V0Z"
          fill="#2C2E35"
        />
        <path d="M12 1H17M17 1V6M17 1L9 9" stroke="#2C2E35" stroke-width="2" />
      </svg>
    </Icons>
    <BaseButtonNormal>
      <span>Share article</span>
    </BaseButtonNormal>
    <Icons>
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="25" height="25" fill="#3351A2" />
        <path
          d="M17.5395 7.82271H19V5.11971C18.748 5.08287 17.8814 5 16.8722 5C14.7664 5 13.3238 6.40746 13.3238 8.99429V11.375H11V14.3967H13.3238V22H16.1729V14.3975H18.4027L18.7567 11.3757H16.1722V9.29392C16.1729 8.42054 16.3942 7.82271 17.5395 7.82271Z"
          fill="white"
        />
      </svg>
    </Icons>
    <Icons>
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="25" height="25" fill="#1D8DEE" />
        <path
          d="M20 7.539C19.4422 7.8 18.8478 7.973 18.2281 8.057C18.8656 7.651 19.3522 7.013 19.5809 6.244C18.9866 6.622 18.3303 6.889 17.6309 7.038C17.0666 6.397 16.2622 6 15.3847 6C13.6822 6 12.3116 7.474 12.3116 9.281C12.3116 9.541 12.3322 9.791 12.3828 10.029C9.82625 9.896 7.56406 8.589 6.04437 6.598C5.77906 7.089 5.62344 7.651 5.62344 8.256C5.62344 9.392 6.17188 10.399 6.98937 10.982C6.49531 10.972 6.01063 10.819 5.6 10.578C5.6 10.588 5.6 10.601 5.6 10.614C5.6 12.208 6.66594 13.532 8.06375 13.837C7.81344 13.91 7.54063 13.945 7.2575 13.945C7.06063 13.945 6.86187 13.933 6.67531 13.889C7.07375 15.188 8.20438 16.143 9.54875 16.174C8.5025 17.047 7.17406 17.573 5.73594 17.573C5.48375 17.573 5.24187 17.561 5 17.528C6.36219 18.465 7.97656 19 9.7175 19C15.3763 19 18.47 14 18.47 9.666C18.47 9.521 18.4653 9.381 18.4587 9.242C19.0691 8.78 19.5819 8.203 20 7.539Z"
          fill="white"
        />
      </svg>
    </Icons>
    <BaseButtonNormal v-if="is_mobile" @click="$router.push('/blog')">
      <span>Back to blog</span>
    </BaseButtonNormal>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Icons from "~/components/Base/Icons";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";

export default {
  name: "BaseShare",
  computed: {
    is_mobile() {
      return process.client && window.innerWidth < 1200;
    },
  },
  methods: {
    clickEvent() {},
    ...mapActions("overlay", ["set_overlay"]),
  },
};
</script>

<style lang="scss">
.c-share {
  display: flex;
  align-items: center;
  margin-bottom: rem(60);
  @include for-width(-mobile) {
    flex-wrap: wrap;
  }

  & .c-icons:hover {
    opacity: 0.7;
  }

  @include for-width(-mob) {
    & .btn-normal-decoration {
      margin-right: rem(10);
    }
  }

  & > .btn-normal-decoration:last-child {
    margin-right: 0 !important;
    margin-left: auto;
    @include for-width(-mobile) {
      margin-left: 0;
    }
  }
}
</style>
