<template>
  <div class="с-drop-down" :class="{ open: is_open }" @mouseleave="close" @click="open">
    <div class="с-drop-down__wrap" :class="`${is_messenger_drop ? 'border-none' : ''} ${classes}`">
      <span class="с-drop-down__current">{{ current_item | concat_text(is_messenger_drop) }}</span>
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M17 13.999L10 6.99902L3 13.999" stroke="#2C2E35" stroke-width="2" />
      </svg>
    </div>
    <ul class="с-drop-down__list" :class="{ show: is_open }">
      <li v-for="item in options" :key="item" class="с-drop-down__list-item">
        <button class="с-drop-down__btn" @click="choice(item)">{{ item }}</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "BaseDropDown",
  props: {
    placeholder: String,
    options: Array,
    is_messenger_drop: Boolean,
    input_messenger_error: Boolean,
    input_messenger_focus: Boolean,
  },
  data() {
    return {
      current_item: "Messenger",
      is_open: false,
      is_error: false,
      is_focus: false,
    };
  },
  methods: {
    error() {
      if (!this.val || this.val.length === 0) return "empty";
      return false;
    },
    close() {
      if (this.is_open) {
        this.is_open = false;
        this.is_focus = false;
        this.$emit("focus");
      }
    },
    open() {
      if (this.is_messenger_drop) {
        this.is_focus = !this.is_focus;
        this.$emit("focus");
      }
      this.is_open = !this.is_open;
    },
    choice(name) {
      this.current_item = name;
      this.$emit("input", this.current_item);
      // this.emit_validation();
    },
    emit_validation() {
      this.$emit("update:validation_error", this.error);
    },
  },
  filters: {
    concat_text(value, is_messenger_drop) {
      if (is_messenger_drop) {
        if (value.length > 9) {
          return value.slice(0, 6) + "...";
        }
      }
      return value;
    },
  },
  computed: {
    classes() {
      return {
        error:
          this.is_error ||
          (this.is_messenger_drop && this.input_messenger_error),
        focus:
          this.is_focus ||
          (this.is_messenger_drop && this.input_messenger_focus),
      };
    },
  },
};
</script>

<style lang="scss">
.с-drop-down {
  width: rem(683);
  position: relative;
  max-width: rem(550);
  height: rem(60);
  margin-bottom: 30px;
  cursor: pointer;
  margin-bottom: 30px;

  svg {
    transform: rotate(180deg);
    @extend %transition;
  }

  &.open {
    .с-drop-down {
      &__wrap {
        @extend %border-focus;

        & svg {
          transform: rotate(0deg);
        }
      }
      &__list {
        opacity: 1;
        @extend %evt-all;
      }
    }
  }

  &__wrap {
    width: 100%;
    background-color: $white;
    @extend %border-default;
    @extend %transition;
    &.focus {
      @extend %border-focus;
    }
    &.error {
      @extend %border-error;
    }
    &.border-none {
      border-bottom: none;
    }
  }

  &__current {
    @extend %text-title;
    color: $primary;
  }

  &__list {
    @include position(103%);
    width: 100%;
    min-width: rem(230);
    z-index: 2;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: 0;
    @extend %evt-none;
    @extend %transition;

    &.show {
      opacity: 1;
      @extend %evt-all;
    }

    &-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    @extend %text-title;
    color: $primary;
    &:hover {
      opacity: 0.7;
    }
  }
}
</style>
