<template>
  <div class="c-text-area">
    <textarea
      @keyup="resize"
      @input="$emit('input', val)"
      v-model="val"
      ref="textarea"
      :placeholder="placeholder"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: "BaseTextarea",
  props: {
    placeholder: String,
    value: String,
  },
  data() {
    return {
      val: this.value,
    };
  },
  methods: {
    resize() {
      if (this.$refs.textarea.scrollTop > 0) {
        this.$refs.textarea.style.height =
          this.$refs.textarea.scrollHeight + "px";
      }
      if (!this.val || this.val.length === 0) {
        this.$refs.textarea.style.height = "60px";
      }
    },
  },
};
</script>

<style lang="scss">
.c-text-area {
  margin-bottom: rem(30);
  textarea {
    overflow: hidden;
    padding-top: rem(15);
    padding-bottom: rem(15);
    height: rem(60);
    @extend %input-default;
  }
}
</style>
