<template>
  <div class="c-messenger" :class="{ focus: is_open, error: is_error }" @click="is_open = false">
    <BaseDropDown :options="items" class="c-messenger__drop" :error="is_error" />
    <input
      :class="{ error: is_error, focus: is_open }"
      v-model="value"
      placeholder="Login or phone in messenger"
    />
    <div class="c-messenger__error" :class="{ error: is_error }">
      <span class="c-input__error-message">Error message!</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseButtonMessenger",
  data() {
    return {
      value: null,
      is_open: false,
      is_error: false,
      current__item: "Messenger",
      items: ["Facebook Messenger", "WhatsApp", "Telegram"]
    };
  }
};
</script>

<style lang="scss" scoped>
.c-messenger {
  @extend %input-wrap;

  &__drop {
    width: 156px;
    position: absolute;
  }

  input {
    @extend %input-default;
    padding-left: 233px;
  }

  &__error {
    @extend %base-error-message;
  }
}
</style>  