<template>
  <div class="c-search">
    <input
      placeholder="Search Articles..."
      class="c-input__input"
      @blur="blur_input"
      @focus="focus_input"
      v-model="query"
    />
    <div class="c-search__icon">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.6863 8.34344C14.6863 11.8469 11.8463 14.6869 8.34316 14.6869C4.83999 14.6869 2 11.8469 2 8.34344C2 4.83999 4.83999 2 8.34316 2C11.8463 2 14.6863 4.83999 14.6863 8.34344ZM13.4937 14.9076C12.0754 16.0222 10.2869 16.6869 8.34316 16.6869C3.73536 16.6869 0 12.9514 0 8.34344C0 3.73549 3.73536 0 8.34316 0C12.951 0 16.6863 3.73549 16.6863 8.34344C16.6863 10.2868 16.0219 12.0751 14.9078 13.4933L20.0008 18.5864L18.5865 20.0006L13.4937 14.9076Z"
          fill="#2C2E35"
        />
      </svg>
    </div>
    <ul class="c-search__list" :class="{ show: show_list }">
      <li
        v-for="item in sorting_list"
        @click="choice_item(item.id)"
        :key="item.id"
      >{{ item.name | crop_text }}</li>
    </ul>
  </div>
</template>

<script>
//
export default {
  name: "BaseSearch",
  props: {
    search_list: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      query: "",
      show_list: false,
      is_error: false,
    };
  },
  computed: {
    sorting_list() {
      if (this.query.length > 0) {
        return this.search_list.filter((item) =>
          item.name.includes(this.query)
        );
      }
      return this.search_list;
    },
  },
  methods: {
    choice_item(id) {
      this.show_list = false;
      this.$emit("change", id);
    },
    blur_input() {
      setTimeout(() => (this.show_list = false), 500);
    },
    focus_input() {
      this.show_list = true;
    },
    show() {
      if (!this.value || this.value.length > 0) {
        this.show_list = true;
      } else {
        this.show_list = false;
      }
    },
  },
  filters: {
    crop_text(value) {
      if (value.length > 100) {
        return value.slice(0, 100) + "...";
      }
      return value;
    },
  },
  updated() {
    // setTimeout(() => this.show_list = false, 500)
  },
};
</script>

<style lang="scss" scoped>
.c-search {
  @extend %input-wrap;

  &__input {
    @extend %input-default;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  &__list {
    @extend %search-list;

    &-item {
      color: red;
    }
  }
}
.c-input__input {
  @extend %input-default;
}
</style>
