<template>
  <div class="v-modal-content">
    <article class="v-modal-content-section">
      <template v-if="isJobs"><BaseShareJobs backJobs/></template>
      <template v-else><BaseShare /></template>
      <figure class="v-modal-content-section__img">
        <img :src="'/api/' + cover_image" :alt="title" />
      </figure>
      <template v-for="author of authors">
        <BaseArticleAuthor
          :key="author.id"
          :name="author.username"
          :photo="author.photo.formats.thumbnail.url"
          :profession="author.profession"
        />
      </template>
      <h3 class="v-modal-content-section__title">{{ title }}</h3>
      <template v-for="(block, index) in content">
        <template v-if="block.__component === 'article-text.article-text'">
          <markdown-it-vue
            class="v-modal-content-section__text"
            :key="block.id"
            :content="block.content"
          />
        </template>
      </template>
      <template v-if="isJobs"><BaseShareJobs /></template>
      <template v-else><BaseShare /></template>
    </article>
  </div>
</template>

<script>
import BaseShare from "~/components/Base/BaseShare";
import BaseArticleAuthor from "~/components/Base/BaseArticleAuthor";
// import 'markdown-it-vue/dist/markdown-it-vue.css'
export default {
  name: "BaseArticleContent",
  components: { BaseArticleAuthor, BaseShare },
  props: {
    cover_image: String,
    authors: Array,
    title: String,
    content: Array,
    isJobs: Boolean
  }
};
</script>

<style lang="scss" scoped></style>
