<template>
  <button class="btn-normal-decoration" @click="clickEvent">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "BaseButtonNormal",
  methods: {
    clickEvent() {
      this.$emit("click");
    }
  }
};
</script>

<style lang="scss">
</style>
