<template>
  <button class="btn-large" @click="clickEvent">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: "BaseButtonLarge",
    methods: {
      clickEvent() {
        this.$emit('click')
      }
    },
  }
</script>

<style lang="scss">

</style>
