<template>
  <div class="c-share-jobs">
    <BaseButtonNormal @click="$router.push('/jobs/send-resume')">
      <span>Send a resume</span>
    </BaseButtonNormal>
    <BaseButtonNormal
      v-if="is_mobile && backJobs"
      @click="$router.push('/jobs')"
    >
      <span>Back to jobs</span>
    </BaseButtonNormal>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Icons from "~/components/Base/Icons";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";

export default {
  name: "BaseShareJobs",
  props: {
    backJobs: Boolean
  },
  computed: {
    is_mobile() {
      return process.client && window.innerWidth < 1200;
    }
  },
  methods: {
    clickEvent() {},
    ...mapActions("overlay", ["set_overlay"])
  }
};
</script>

<style lang="scss">
.c-share-jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(60);
  @include for-width(-mobile) {
    flex-wrap: wrap;
  }

  & .c-icons:hover {
    opacity: 0.7;
  }

  @include for-width(-mob) {
    & .btn-normal-decoration {
      margin-right: rem(10);
    }
  }
}
</style>
