<template>
  <div class="v-modal-content">
    <article class="v-modal-content-section">
      <nuxt-link to="/jobs/send-resume" class="v-modal-content-section__send btn-normal-decoration">
        <span>Send a resume</span>
      </nuxt-link>
      <figure class="v-modal-content-section__image">
        <img :src="'/api/' + cover_image" :alt="title" />
      </figure>
      <div class="v-modal-content-section__main">
        <h2 class="v-modal-content-section__title">{{ title }}</h2>
        <div class="v-modal-content-section__main-content">
          <template v-for="(block, index) in content">
            <template v-if="block.__component === 'article-text.article-text'">
              <markdown-it-vue
                class="v-modal-content-section__text"
                :key="block.id"
                :content="block.content"
              />
            </template>
          </template>
        </div>
      </div>
      <nuxt-link to="/jobs/send-resume" class="v-modal-content-section__send btn-normal-decoration">
        <span>Send a resume</span>
      </nuxt-link>
    </article>
  </div>
</template>

<script>
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
export default {
  name: "BaseJobContent",
  components: { BaseButtonNormal },
  props: {
    cover_image: String,
    title: String,
    content: Array,
  },
};
</script>

<style lang="scss"></style>
