<template>
  <div class="c-slider">
    <Wrapper>
      <div class="c-slider__text-content" v-if="title || text">
        <h2 class="c-slider__title" v-if="title">{{ title }}</h2>
        <p class="c-slider__text" v-if="description">{{ description }}</p>
      </div>
    </Wrapper>
    <template v-if="sliders.length > 3">
      <div class="c-slider__wrapper">
        <VueSlickCarousel
          :arrows="false"
          :dots="false"
          :centerMode="isCenterMode"
          :centerPadding="paddingWidth"
          :focusOnSelect="true"
          :cssEase="'cubic-bezier(0.22, 1, 0.36, 1)'"
          :slidesToShow="slidesToShow"
        >
          <div class="c-slider__slide" v-for="slide of sliders" :key="slide.id">
            <template v-if="is_article_slider">
              <CardArticle
                class="c-slider__slide-item"
                :id="slide.id"
                :title="slide.title"
                :description="slide.description"
                :image="slide.cover"
              />
            </template>
            <template v-else>
              <CardProject
                class="c-slider__slide-item"
                :title="slide.title"
                :text="slide.description"
                :image="slide.cover"
              />
            </template>
          </div>
        </VueSlickCarousel>
      </div>
    </template>
    <template v-else>
      <wrapper>
        <div class="c-slider__small">
          <template v-for="slide of sliders">
            <template v-if="is_article_slider">
              <card-article
                :key="slide.id"
                :id="slide.id"
                :title="slide.title"
                :description="slide.description"
                :image="slide.cover"
              />
            </template>
            <template v-else>
              <card-project
                :key="slide.id"
                :title="slide.title"
                :text="slide.description"
                :image="slide.cover"
              />
            </template>
          </template>
        </div>
      </wrapper>
    </template>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import VueSlickCarousel from "vue-slick-carousel";
import CardProject from "~/components/Base/CardProject";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import CardArticle from "~/components/Base/CardArticle";
export default {
  name: "BaseSlider",
  components: { CardArticle, CardProject, Wrapper, VueSlickCarousel },
  data() {
    return {
      slidesToShow: 1,
      isCenterMode: false,
      paddingWidth: "50px"
    };
  },
  props: {
    title: String,
    description: String,
    sliders: Array,
    is_article_slider: Boolean
  },
  methods: {
    howSlidesToShow() {
      if (process.client) {
        if (window.innerWidth >= 1200) {
          this.slidesToShow = 2;
        }
      }
    },
    howPaddingInSlider() {
      if (process.client) {
        if (window.innerWidth >= 350) {
          this.isCenterMode = true;
        }
      }
    },
    howByPadding() {
      if (process.client) {
        if (window.innerWidth >= 350 && window.innerWidth <= 575) {
          this.paddingWidth = "40px";
        } else if (window.innerWidth >= 576 && window.innerWidth <= 1199) {
          let paddingCalc = (window.innerWidth - 540) / 2;
          this.paddingWidth = paddingCalc + "px";
        } else if (window.innerWidth >= 1200 && window.innerWidth <= 1399) {
          let paddingCalc = (window.innerWidth - 1080) / 2;
          this.paddingWidth = paddingCalc + "px";
        } else if (window.innerWidth >= 1400 && window.innerWidth <= 1699) {
          let paddingCalc = (window.innerWidth - 1180) / 2;
          this.paddingWidth = paddingCalc + "px";
        } else {
          let paddingCalc = (window.innerWidth - 1446) / 2;
          this.paddingWidth = paddingCalc + "px";
        }
      }
    }
  },
  mounted() {
    this.howSlidesToShow();
    this.howPaddingInSlider();
    this.howByPadding();
  }
};
</script>

<style lang="scss">
.c-slider {
  &__title {
    @extend %h2-title;
    color: $primary;
  }
  &__text {
    @extend %text-main;
    color: $secondary;
    margin: rem(20) 0 rem(80);
  }
  &__wrapper {
    /*max-height: rem(748);*/
    // max-height: rem(840);
    height: fit-content;
    overflow: hidden;
    .slick-slide {
      padding: 0 rem(20);
    }
  }
  &__slide {
    &-item {
      margin: 0 auto !important;
    }
  }
}
</style>
