<template>
  <div class="c-tab" :class="{ active: is_active }">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "BaseTabs",
  props: {
    tabs: Array
  },
  data() {
    return {
      is_active: true
    };
  }
};
</script>

<style lang="scss" scoped>
.c-tab {
  @extend %base-tab;
}
</style>