<template>
  <div class="c-input">
    <input
      :placeholder="placeholder"
      :class="{ error: visible_error }"
      class="c-input__input"
      @input="change"
      v-model="val"
      @blur="blur_input"
    />
    <div class="c-input__error" :class="{ error: visible_error }">
      <template v-if="visible_error === 'empty'">
        <span class="c-input__error-message">Required field</span>
      </template>
      <template v-if="visible_error === 'not-email'">
        <span class="c-input__error-message">Invalid email</span>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseInput",
  props: {
    placeholder: String,
    check_email: Boolean,
    is_only_numbers: Boolean,
    value: [String, Number]
  },
  data() {
    return {
      val: this.value || "",
      is_error: false,
      show_validation: false
    };
  },
  computed: {
    error() {
      if (!this.val || this.val.length === 0) return "empty";

      if (this.check_email && !/\S+@\S+\.\S+/.test(this.val)) {
        return "not-email";
      }

      return false;
    },
    visible_error() {
      return this.show_validation ? this.error : false;
    }
  },
  created() {
    console.log(this.error);
    this.emit_validation();
  },
  methods: {
    change() {
      if (this.is_only_numbers) this.val = this.val.replace(/[^\d]/g, "");
      this.$emit("input", this.val);
      this.emit_validation();
    },
    emit_validation() {
      this.$emit("update:validation_error", this.error);
    },
    blur_input() {
      this.show_validation = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.c-input {
  @extend %input-wrap;

  &__input {
    @extend %input-default;
  }

  &__error {
    @extend %base-error-message;
  }
}
</style>
