<template>
  <div class="c-messenger" :class="{ error: is_error }">
    <BaseDropDown
      @focus="focus_input"
      :options="items"
      is_messenger_drop
      v-model="messenger"
      @input="change_val"
      classes="border-none"
      :input_messenger_focus="is_focus"
      :input_messenger_error="is_error"
    />
    <input
      :class="{ error: is_error, focus: is_focus }"
      @focus="focus_input"
      @blur="focus_input"
      @input="change_val"
      placeholder="Login or phone in messenger"
      v-model="val"
    />
    <div class="c-messenger__error" :class="{ error: is_error }">
      <span class="c-input__error-message">Error message!</span>
    </div>
  </div>
</template>

<script>
import BaseDropDown from "@/components/Base/BaseDropDown";

export default {
  name: "BaseInputMessenger",
  props: {
    items: Array,
    value: Object
  },
  components: {
    BaseDropDown
  },
  data() {
    console.log();
    return {
      // val: this.value.id,
      // messenger: this.value.name,
      is_error: false,
      is_focus: false
    };
  },
  methods: {
    focus_input() {
      this.is_focus = !this.is_focus;
    },
    open() {
      this.is_open = !this.is_open;
    },
    choice(item) {
      this.current_item = item;
    },
    change_val() {
      this.$emit("input", { id: this.val, name: this.messenger });
    }
  }
};
</script>

<style lang="scss">
.c-messenger {
  position: relative;
  margin-bottom: rem(30);

  input {
    padding-left: rem(233);
    @include for-width(-laptop) {
      padding-left: rem(120);
    }
    @extend %input-default;
  }

  &__error {
    @extend %base-error-message;
  }
  .border-none {
    border-bottom: none !important;
  }
  .с-drop-down {
    position: absolute;
    top: 0;
    left: 0;
    width: 156px;

    &__wrap {
      height: rem(60) !important;
      @include for-width(-mon) {
        height: rem(50) !important;
      }
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: transparent;

      & svg {
        margin-left: rem(15);
      }
    }
  }
}
</style>
