<template>
  <div class="c-info-user">
    <figure class="c-info-user__img">
      <img :src="'/api/' + photo" :alt="name" />
    </figure>
    <div class="c-info-user__wrap">
      <div class="c-info-user__name">{{ name }}</div>
      <div class="c-info-user__profession">{{ profession }}</div>
    </div>
  </div>
</template>

<script>
import Icons from "~/components/Base/Icons";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";

export default {
  name: "BaseArticleAuthor",
  props: {
    name: String,
    photo: String,
    profession: String,
  },
};
</script>

<style lang="scss">
.c-info-user {
  display: flex;
  align-items: center;
  margin-bottom: rem(45);

  &__img {
    margin-right: rem(10);
    width: rem(70);
    height: rem(70);
    border-radius: 50%;
    overflow: hidden;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__name {
    @extend %text-title-bolder;
  }

  &__profession {
    @extend %text-title;
    color: $secondary;
  }
}
</style>
