<template>
  <div class="c-card-article" @click="$router.push(to)">
    <figure class="c-card-article__img">
      <img :src="image" :alt="title" />
    </figure>
    <h3 class="c-card-article__title">
      <template v-if="icon">
        <a :href="to" target="_blank">
          <span>{{ title }}</span>
        </a>
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10 0H2H0V2V16V18H2H16H18V16V8H16V16H2V2H10V0Z"
            fill="#2C2E35"
          />
          <path
            d="M12 1H17M17 1V6M17 1L9 9"
            stroke="#2C2E35"
            stroke-width="2"
          />
        </svg>
      </template>
      <template v-else>
        <nuxt-link :to="to">
          <span>{{ title }}</span>
        </nuxt-link>
      </template>
    </h3>
    <p class="c-card-article__text">{{ text }}</p>
  </div>
</template>

<script>
export default {
  name: "CardProject",
  props: {
    title: String,
    text: String,
    image: String,
    icon: Boolean,
    to: {
      type: String,
      default: "/"
    }
  }
};
</script>

<style lang="scss" scoped>
.c-card-article {
  @extend %card-template;

  &__img {
    @extend %card-template__img;
    height: rem(320);
    @include for-width(+ tablet) {
      height: rem(500);
    }
    @include for-width(+ desktop) {
      height: rem(550);
    }
    @include for-width(+ desktop-lg) {
      height: rem(683);
    }

    @include for-width(+ laptop) {
      &:hover {
        & img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__title {
    @extend %card-template__title;
    display: flex;

    & svg {
      margin-top: rem(8);
      margin-left: rem(14);
      @include for-width(+ medium) {
        margin-left: rem(20);
      }
      width: rem(21);
      height: rem(21);
    }
  }

  &__text {
    @extend %card-template__text;
  }
}
</style>
