<template>
  <div class="c-card-article">
    <figure @click="$emit('click')" class="c-card-article__img">
      <img :src="image" :alt="title" />
    </figure>
    <h3 @click="$emit('click')" class="c-card-article__title">
      {{ title }}
    </h3>
    <p @click="$emit('click')" class="c-card-article__text">
      {{ text }}
    </p>
    <!-- <button @click="$emit('click')" class="c-card-article__more">
      More about Job
    </button> -->
  </div>
</template>

<script>
export default {
  name: "CardJobs",
  props: {
    title: String,
    text: String,
    image: String,
    id: [Number, String]
  }
};
</script>

<style lang="scss" scoped>
.c-card-article {
  @extend %card-template;
  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    @extend %card-template__img;
    height: rem(165);
    @include for-width(+ tablet) {
      height: rem(220);
    }
    @include for-width(+ desktop-lg) {
      height: rem(273);
    }
    @include for-width(+ laptop) {
      &:hover {
        & img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__title {
    @extend %card-template__title;
  }

  &__text {
    @extend %card-template__text;
  }

  &__more {
    @extend %card-template__more;
  }
}
</style>
