<template>
  <div class="c-card-article">
    <figure @click="openPageAreModal()" class="c-card-article__img">
      <img :src="image" :alt="title" />
    </figure>
    <h3 @click="openPageAreModal()" class="c-card-article__title">
      {{ title }}
    </h3>
    <p @click="openPageAreModal()" class="c-card-article__text">
      {{ description }}
    </p>
    <button @click="openPageAreModal()" class="c-card-article__more">
      Read more
    </button>
  </div>
</template>

<script>
export default {
  name: "CardArticle",
  props: {
    id: [String, Number],
    title: String,
    description: String,
    image: String
  },
  methods: {
    openPageAreModal() {
      if (process.client) {
        if (window.innerWidth >= 1200) {
          this.$emit("click", this.id);
        } else {
          this.$router.push("/blog/" + this.id);
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.c-card-article {
  @extend %card-template;

  &__img {
    @extend %card-template__img;
    height: rem(220);
    @include for-width(+ desktop) {
      height: rem(273);
    }

    @include for-width(+ laptop) {
      &:hover {
        & img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__title {
    @extend %card-template__title;
  }

  &__text {
    @extend %card-template__text;
  }

  &__more {
    @extend %card-template__more;
  }
}
</style>
