<template>
  <div class="c-icons">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Icons"
};
</script>

<style lang="scss">
.c-icons {
  margin-right: rem(10);
  cursor: pointer;
  @extend %transition;
}
</style>
