<template>
  <div class="notification-container">
    <Wrapper>
      <div class="c-notification-cookies" :class="{ hide: is_hidden }">
        <slot></slot>
        <svg
          width="16"
          height="16"
          @click="hide = !hide"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.00195 1L8.00195 8M8.00195 8L15.002 1M8.00195 8L1.00195 15M8.00195 8L15.002 15"
            stroke="#fff"
            stroke-width="2"
          />
        </svg>
      </div>
    </Wrapper>
  </div>
</template>

<script>
import {mapFields} from "vuex-map-fields";
import Wrapper from "~/components/Base/Wrapper";

export default {
  name: 'NotificationCookie',
  components: {Wrapper},
  props: {
    text: String,
    is_hidden: Boolean,
  },
  computed: {
    ...mapFields('overlay', [
      'overlay'
    ])
  },
};
</script>

<style lang="scss">
</style>
