<template>
  <div class="c-notif-install" :class="{ hide: hide }" v-if="show">
    <span>{{ text }}</span>
    <svg
      width="16"
      height="16"
      @click="hide = !hide"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.00195 1L8.00195 8M8.00195 8L15.002 1M8.00195 8L1.00195 15M8.00195 8L15.002 15"
        stroke="#2C2E35"
        stroke-width="2"
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    text: String,
    show: Boolean
  },
  data() {
    return {
      hide: false
    };
  }
};
</script>

<style lang="scss">
.c-notif-install {
  @extend %notification-install;
}
</style>