<template>
  <div class="c-simple-card">
    <figure v-if="image" class="c-simple-card__img">
      <img :src="image" :alt="title" />
    </figure>
    <div class="c-simple-card__content">
      <h3 class="c-simple-card__title">{{ title }}</h3>
      <p class="c-simple-card__text">{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "SimpleCard",
  props: {
    image: String,
    title: String,
    text: String
  }
};
</script>

<style lang="scss">
.c-simple-card {
  margin-bottom: rem(80);

  &__img {
    width: 100%;
    height: rem(230);
    @include for-width(+ medium) {
      height: rem(318);
    }
    margin-bottom: 30px;
    img {
      object-fit: cover;
    }
  }

  &__title {
    @extend %h3-title;
    color: $primary;
    margin-bottom: rem(20);
    @extend %transition;
    // cursor: pointer;

    // &:hover {
    //   color: $secondary;
    // }
  }

  &__text {
    @extend %text-main;
    color: $secondary;
  }
}
</style>
