<template>
  <button @click="$emit('click', name)"
          class="c-tab" :class="{ active: is_active }">
    <span>{{ name }}</span>
  </button>
</template>

<script>
export default {
  name: "TabButton",
  props: {
    name: String,
    is_active: Boolean,
  }
};
</script>

<style lang="scss" >
.c-tab {
  padding: rem(15) rem(25);
  margin-right: rem(30);
  margin-bottom: rem(30);
  display: inline-block;
  @extend %border-default;

  span {
    @extend %text-main;

    &:hover {
      @extend %transition;
      opacity: 0.7;
    }
  }

  &.active {
    @extend %border-error;
    span {
      color: $accent;
    }
  }
}
</style>
