<template>
  <div class="container">
    <div class="-content-layout" v-bind="$attrs" :class="{ '-menu-open': !!overlay }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import {mapFields} from "vuex-map-fields";

  export default {
    name: "Wrapper",
    inheritAttrs: false,
    computed: {
      ...mapFields('overlay', [
        'overlay'
      ])
    },
  }
</script>

<style lang="scss" scoped>

</style>
