<template>
  <div>
    <Header />
    <main>
      <Nuxt />
      <section class="v-footer-section" @click="pageTop">
        <FrontContact />
      </section>

      <!-- <NotificationCookie>
      By accessing our site you confirm that we can use <nuxt-link to="/">cookies</nuxt-link>
          </NotificationCookie>-->
    </main>
  </div>
</template>

<script>
import Header from "~/components/Header";
import NotificationCookie from "~/components/Base/NotificationCookies";
import FrontContact from "~/components/front/Contact";
export default {
  components: { NotificationCookie, Header, FrontContact },
  data() {
    return {
      transform_style: "translate3d(0px, 0px, 0px)",
      ops: {
        vuescroll: { wheelScrollDuration: 800 },
        scrollPanel: {
          initialScrollY: false,
          initialScrollX: false,
          scrollingX: true,
          scrollingY: true,
          easing: "easeOutQuad",
          verticalNativeBarPos: "right"
        }
      }
    };
  },
  methods: {
    pageTop() {
      this.$refs.vs.scrollTo(
        {
          y: 0
        },
        500
      );
    }
  }
  // mounted() {
  //   if(process.client) {
  //     document.addEventListener('scroll', () => {
  //       let scroll_y = window.scrollY;
  //       console.log('yes')
  //
  //       this.transform_style = `translate3d(0px, -${scroll_y / 10}px, 0px)`
  //     })
  //   }
  // }
};
</script>

<style lang="scss">
.v-footer-section {
  padding-top: rem(180);
  padding-bottom: rem(80);
  @include for-width(+ medium) {
    padding: rem(260) 0 rem(80);
  }
}
/*body {*/
/*  overflow: hidden !important;*/
/*}*/
/*.layout-template {*/
/*  height: 100%;*/
/*  will-change: transform;*/
/*}*/
#example-content {
  width: 100%;
  height: 100vh;
}
.scrollbar-track {
  background-color: rgba(255, 255, 255, 1) !important;
  width: rem(10) !important;
}
.scrollbar-thumb {
  width: rem(5) !important;
  background-color: black !important;
  left: rem(2) !important;
}
#ue_widget.ue_widgetLeft #ue_launcher {
  left: rem(20) !important;
  bottom: rem(20) !important;
  @include for-width(+ laptop) {
    left: rem(100) !important;
    bottom: rem(50) !important;
  }
  & #ue_launcherAvatar img {
    transition: 0.3s all ease;
    &:hover {
      opacity: 0.9;
    }
  }
}
.parent-element {
  height: 100vh;
  max-width: 100%;
}
.__view {
  max-width: 100%;
}
</style>
