<template>
  <div>
    <Header />
    <main>
      <Nuxt />
    </main>
  </div>
</template>

<script>
  import Header from "~/components/Header";
  export default {
    name: "empty",
    components: {Header}
  }
</script>

<style lang="scss" scoped>

</style>
