<template>
  <div class="c-error">
    <Wrapper>
      <div class="c-error__wrap">
        <template v-if="error.statusCode === 404">
          <figure class="c-error__img">
            <img src="/404.svg" alt />
          </figure>
          <h2 class="c-error__title">404.</h2>
          <p class="c-error__text">Page not found or such pages do not exist.</p>
        </template>
        <template v-if="error.statusCode === 500">
          <figure class="c-error__img">
            <img src="/500.svg" alt />
          </figure>
          <h2 class="c-error__title">500.</h2>
          <p class="c-error__text">Internal Server Error.</p>
        </template>
        <nuxt-link to="/" class="c-error__link btn-normal-decoration">
          <span>Go home</span>
        </nuxt-link>
      </div>
    </Wrapper>
  </div>
</template>

<script>
  import Wrapper from "~/components/Base/Wrapper";
  export default {
    props: ['error'],
    name: "error",
    components: {Wrapper},
    layout: 'empty'
  }
</script>

<style lang="scss">
  .c-error {
    &__wrap {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__title {
      @extend %h1-title;
      margin-bottom: rem(20);
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-bottom: rem(30);
    }

    &__img {
      margin-bottom: rem(10);
    }
}
</style>
