<template>
  <div class="v-blog">
    <Wrapper>
      <section class="v-blog-section">
        <h1 class="v-blog-section__title">{{ content.title }}</h1>
        <p class="v-blog-section__text">
          {{ content.description }}
        </p>
        <BaseSearch :search_list="search_list" @change="load_article" />
        <template v-for="link of categories" @key="link.id">
          <BaseButtonNormal
            v-if="link.articles.length > 0"
            @click="sort_by_category(link.name)"
          >
            <span :class="{ active: choice_category === link.name }">{{
              link.name
            }}</span>
          </BaseButtonNormal>
        </template>
        <template v-if="posts.length > 0">
          <div class="v-blog-section__list">
            <CardArticle
              v-for="item in posts"
              :key="item.id"
              :id="item.id"
              :title="item.title"
              :description="item.short_description"
              :image="'/api' + item.cover_image.url"
              @click="load_article"
            />
          </div>
        </template>
        <!--        <template v-if="have_link">-->
        <!--          <div class="v-blog-section__more">-->
        <!--            <nuxt-link class="v-blog-section__more-route" to="/">-->
        <!--              <span>Load more</span>-->
        <!--            </nuxt-link>-->
        <!--          </div>-->
        <!--        </template>-->
      </section>
    </Wrapper>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import BaseSearch from "~/components/Base/BaseSearch";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
import { mapFields } from "vuex-map-fields";
import { mapActions, mapState } from "vuex";
import CardArticle from "~/components/Base/CardArticle";
import objectValue from "~/utils/objectValue";
import seo_head from "~/mixins/seo_head";
export default {
  name: "index",
  components: {
    CardArticle,
    Wrapper,
    BaseSearch,
    BaseButtonNormal
  },
  mixins: [seo_head],
  async middleware({ store }) {
    await store.dispatch("blog/load");
    await store.dispatch("page/load", "blog-page");
  },
  data() {
    return {
      have_link: true,
      choice_category: null
    };
  },
  computed: {
    ...mapFields("blog", ["posts", "categories"]),
    search_list() {
      return this.posts.map(({ title, id }) => {
        return {
          name: title,
          id
        };
      });
    },
    ...mapState("page", {
      content: state => objectValue(state, "pages.blog-page", {})
    })
  },
  methods: {
    show_post(id) {
      alert(id);
    },
    sort_by_category(name) {
      if (!this.choice_category) {
        this.choice_category = name;
        this.get_pasts_by_category(name);
        return;
      }
      this.choice_category = null;
      this.load_posts();
    },
    ...mapActions("blog", [
      "get_pasts_by_category",
      "load_posts",
      "load_article"
    ])
  }
};
</script>

<style lang="scss">
.v-blog {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ medium) {
      padding: rem(260) 0 0 0;
    }

    &__title {
      @extend %h1-title;
      color: $primary;
      margin-bottom: rem(20);
    }

    &__text {
      @extend %text-main;
      color: $secondary;
      margin-bottom: rem(80);
    }

    &__list {
      margin: rem(80) 0;
    }

    &__more {
      &-route {
        @extend %load-more;
      }
    }
    & .active {
      color: $accent !important;

      &::after {
        background-color: $accent;
      }
    }
  }
}
</style>
