<template>
  <div class="v-about">

    <section class="v-about-section">
      <AboutLead :title="content.title"
                 :description="content.description"
                 :video_poster="content.video_poster"
                 :video_url="content.video" />
    </section>
    <section class="v-about-section">
      <FrontAbout :title="content.about.title"
                  :description="content.about.description"
                  :cards="content.about.cards" />
    </section>
    <section class="v-about-section">
      <AboutExpertise title="Our expertise." :services="content.services"  />
    </section>
    <section class="v-about-section">
      <FrontWorking :title="content.worked_width.title"
                    :description="content.worked_width.description"
                    :working_logos="content.worked_width.logos" />
    </section>
    <section class="v-about-section">
      <FrontRecognition :title="content.awards.title"
                        :description="content.awards.description"
                        :awards="content.awards.cards" />
    </section>
    <section class="v-about-section">
      <FrontProject :title="content.internal_cases.title"
                    :description="content.internal_cases.description"
                    :cases="content.internal_cases.cases" />
    </section>
  </div>
</template>

<script>
import AboutLead from "~/components/about/Lead";
import AboutExpertise from "~/components/about/Expertise";
import FrontAbout from "~/components/front/About";
import FrontRecognition from "~/components/front/Recognition";
import FrontWorking from "~/components/front/Working";
import FrontProject from "~/components/front/Project";
import {mapState} from "vuex";
import objectValue from "~/utils/objectValue";
import seo_head from "~/mixins/seo_head";
export default {
  components: {
    AboutLead,
    AboutExpertise,
    FrontAbout,
    FrontRecognition,
    FrontWorking,
    FrontProject,
  },
  mixins: [seo_head],
  async middleware({ store }) {
    try {
      await store.dispatch("page/load", "about");
      console.log('started')
    } catch (e) {}
  },
  computed: {
    ...mapState("page", {
      content: state => objectValue(state, "pages.about", {})
    })
  },
};
</script>

<style lang="scss">
.v-about {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }
  }
}
</style>
