<template>
  <div class="v-brief">
    <section class="v-brief-section">
      <PageHeader
        :title="content.title"
        :text="content.description"
        v-if="delTitle"
      />

      <Wrapper>
        <template v-if="!status">
          <transition-group name="slide-fade">
            <BriefProductType
              v-if="current_block === 'products'"
              :key="'products'"
              v-model="product_type"
              @remove-item="remove_product_type"
              :product_types="content.product_types"
            />
            <BriefPrice
              v-model="price"
              v-if="current_block === 'price'"
              :key="'price'"
              :range_data="content.price_range"
            />
            <ContactForm v-if="current_block === 'contact'" :key="'contact'" />
          </transition-group>
          <div class="v-brief__btns">
            <BaseButtonNormal v-if="show_back_btn" @click="back">
              <span>Back</span>
            </BaseButtonNormal>
            <BaseButtonNormal @click="next">
              <span>
                {{ current_block === "contact" ? "Submit" : "Continue" }}
              </span>
            </BaseButtonNormal>
            <p v-if="current_block === 'contact'" class="v-brief-section__text">
              By clicking on the "Submit" button, you consent to the processing
              of your personal data.
            </p>
          </div>
          <div class="v-brief__privacy"></div>
        </template>
        <template v-else>
          <ResultSending
            @send-again="sender"
            :title="status_text.title"
            :text="status_text.text"
            :is_error="status === 'error'"
          />
        </template>
      </Wrapper>
    </section>
  </div>
</template>

<script>
import PageHeader from "~/components/PageHeader";
import Wrapper from "~/components/Base/Wrapper";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
import { mapState, mapMutations, mapActions } from "vuex";
import { mapFields } from "vuex-map-fields";
import objectValue from "~/utils/objectValue";
import BriefPrice from "~/components/brief/Price";
import BriefProductType from "~/components/brief/ProductType";
import ContactForm from "~/components/ContactForm";
import ResultSending from "~/components/ResultSending";
import seo_head from "~/mixins/seo_head";

export default {
  name: "cookiesFile",
  components: {
    ResultSending,
    ContactForm,
    BriefPrice,
    BriefProductType, //: import('~/components/brief/ProductType'),
    PageHeader, //: import('~/components/PageHeader'),
    Wrapper, //: import('~/components/Base/Wrapper'),
    BaseButtonNormal //: import('~/components/Base/BaseButtonNormal')
  },
  async middleware({ store }) {
    await store.dispatch("page/load", "brief");
  },
  mixins: [seo_head],
  data() {
    return {
      delTitle: true,
      tabs: [
        {
          name: "Ecosystems",
          key: "1"
        },
        {
          name: "Products",
          key: "2"
        },
        {
          name: "Product strategies",
          key: "3"
        },
        {
          name: "UX Expertise",
          key: "4"
        },
        {
          name: "Saas Serveices",
          key: "5"
        },
        {
          name: "Fintech",
          key: "6"
        },
        {
          name: "Web App",
          key: "7"
        },
        {
          name: "Mobile App",
          key: "8"
        },
        {
          name: "Product Promotion",
          key: "9"
        },
        {
          name: "Other",
          key: "10"
        }
      ]
    };
  },
  computed: {
    product_type: {
      get() {
        return this.product_types;
      },
      set(product) {
        this.$store.commit("brief/set_product_type", product);
      }
    },
    ...mapFields("brief", [
      "status",
      "product_types",
      "current_block",
      "price"
    ]),
    ...mapFields("contact", [
      "name",
      "company",
      "email",
      "phone",
      "messenger_name",
      "messenger_id",
      "message_text"
    ]),
    status_text() {
      const status_answer = this.status === "error";
      return {
        title: status_answer
          ? "Something went wrong ...."
          : "Thank you for your appeal.",
        text: status_answer
          ? "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies."
          : "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies."
      };
    },
    show_back_btn() {
      return this.current_block !== "products";
    },
    ...mapState("page", {
      content: state => objectValue(state, "pages.brief", {}),
      user_location: state => state.user_data
    })
  },
  methods: {
    next() {
      switch (this.current_block) {
        case "products":
          this.change_current_block("price");
          document.documentElement.scrollTop = 0;
          break;
        case "price":
          this.change_current_block("contact");
          document.documentElement.scrollTop = 0;
          break;
        case "contact":
          this.sender();
          this.delTitle = false;
          document.documentElement.scrollTop = 0;
          break;
      }
    },
    back() {
      switch (this.current_block) {
        case "price":
          this.change_current_block("products");
          document.documentElement.scrollTop = 0;
          break;
        case "contact":
          this.change_current_block("price");
          document.documentElement.scrollTop = 0;
          break;
      }
    },
    sender() {
      const SendingData = {
        "Лид с сайта (Бриф)": "%0A",
        "Время (у юзера)": new Date(),
        Имя: this.name,
        Компания: this.company,
        Email: this.email,
        Телефон: this.phone,
        Месенжер: this.messenger_name,
        "Юзернейм в месенжере": this.messenger_id,
        "Текст сообщения": this.message_text,
        "----------------": "%0A%0A",
        "Тип продукта": this.product_types.map(el => el.name).join(", "),
        Прайс: this.price,
        "================": "%0A%0A",
        city: this.user_location.city,
        region: this.user_location.region,
        country: this.user_location.country
      };
      let SendingString = "------------------------------%0A";
      for (let key in SendingData) {
        SendingString += `<b>${key}</b>: ${SendingData[key]}%0A`;
      }
      SendingString += "------------------------------";
      this.send(SendingString);
    },
    ...mapActions("brief", ["send"]),
    ...mapMutations("brief", ["change_current_block"]),
    remove_product_type(product) {
      this.$store.commit("brief/remove_product_type", product);
    }
  },
  beforeDestroy() {
    this.$store.commit("brief/clean");
  }
};
</script>

<style lang="scss">
.slide-fade-enter-active,
.component-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
.v-brief {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }

    &__text {
      @extend %text-secondary;
      color: $secondary;
      margin-top: rem(20);
    }
  }

  &__btns {
    margin-top: rem(80);
  }
}
</style>
