<template>
  <div class="v-constructor">
    <section class="v-constructor-section">
      <HelloBlock
        imgBottom
        img="/constructor/hello-block.jpg"
        title="Projec title name"
        text="Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing. Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing."
      />
    </section>
    <section class="v-constructor-section">
      <TitleImg imgBottom img="/constructor/title-img.jpg" title="Projec title name" />
    </section>
    <section class="v-constructor-section">
      <ImgDescription
        variant="three"
        img="/constructor/img-description.jpg"
        header="Headtitle."
        text="Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing"
      />
    </section>
    <section class="v-constructor-section">
      <LargeImgDecription
        variant="one"
        img="/constructor/large-img-description.jpg"
        title="Headtitle."
        text="Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing"
      />
    </section>
    <section class="v-constructor-section">
      <TitleText
        variant="four"
        img="/constructor/large-img-description.jpg"
        title="Headtitle."
        text="Ullamco laborum voluptate proident sint qui aliqua Lorem. Esse est culpa non ullamco qui id ipsum aute tempor culpa deserunt enim excepteur. Nostrud est eu non adipisicing"
      />
    </section>
    <section class="v-constructor-section">
      <ListImg large :img="list_img" />
    </section>
  </div>
</template>

<script>
import HelloBlock from "~/components/constructor/HelloBlock";
import TitleImg from "~/components/constructor/TitleImg";
import ImgDescription from "~/components/constructor/ImgDescription";
import LargeImgDecription from "~/components/constructor/LargeImgDecription";
import TitleText from "~/components/constructor/TitleText";
import ListImg from "~/components/constructor/ListImg";

export default {
  name: "constructor",
  components: {
    HelloBlock,
    TitleImg,
    ImgDescription,
    LargeImgDecription,
    TitleText,
    ListImg,
  },
  data() {
    return {
      list_img: [
        "/constructor/large-img-description.jpg",
        "/constructor/hello-block.jpg",
      ],
    };
  },
};
</script>

<style lang="scss">
.v-constructor {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }
  }
}
</style>
