<template>
  <div class="v-send-resume">
    <section class="v-send-resume-section">
      <BaseCookies
        title="Let’s talk."
        text="I think this is the beginning of a beautiful friendship"
      />
      <template v-if="!status">
        <section class="v-send-resume__sect">
          <Wrapper>
            <h3 class="v-send-resume__title">Contact Information.</h3>
            <ContactForm :fields_namespace="'contact'" />
            <div class="send-resume__btns">
              <BaseButtonNormal :disabled="is_valid" @click="sender">
                <span>Submit</span>
              </BaseButtonNormal>
              <p class="v-send-resume-section__text">
                By clicking on the "Submit" button, you consent to the
                processing of your personal data
              </p>
            </div>
          </Wrapper>
        </section>
      </template>
      <template v-else>
        <ResultSending
          @send-again="sender"
          :title="status_text.title"
          :text="status_text.text"
          :is_error="status === 'error'"
        />
      </template>
    </section>
  </div>
</template>

<script>
import BaseCookies from "~/components/PageHeader";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
import Wrapper from "~/components/Base/Wrapper";
import BaseInput from "~/components/Base/BaseInput";
import BaseInputMessenger from "~/components/Base/BaseInputMessenger";
import BaseTextarea from "~/components/Base/BaseTextarea";
import { mapFields } from "vuex-map-fields";
import { mapActions } from "vuex";
import ResultSending from "~/components/ResultSending";
import ContactForm from "~/components/ContactForm";
export default {
  name: "contact",
  components: {
    ContactForm,
    ResultSending,
    BaseTextarea,
    BaseInputMessenger,
    BaseInput,
    BaseCookies,
    BaseButtonNormal,
    Wrapper
  },
  data() {
    return {
      validation_error: {},
      items: ["Facebook Messenger", "WhatsApp", "Telegram"]
    };
  },
  computed: {
    ...mapFields("contact", [
      "status",
      "name",
      "company",
      "email",
      "phone",
      "messenger_name",
      "messenger_id",
      "message_text"
    ]),
    status_text() {
      const status_answer = this.status === "error";
      return {
        title: status_answer
          ? "Something went wrong ...."
          : "Thank you for your appeal.",
        text: status_answer
          ? "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies."
          : "From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies."
      };
    },
    is_valid() {
      return Object.values(this.validation_error).find(e => !!e);
    }
  },
  methods: {
    sender() {
      if (!(this.name || this.email || this.phone)) return;
      const SendingData = {
        "Лид с сайта (Контактная форма)": "%0A",
        "Время (у юзера)": new Date(),
        Имя: this.name,
        Компания: this.company,
        Email: this.email,
        Телефон: this.phone,
        Месенжер: this.messenger_name,
        "Юзернейм в месенжере": this.messenger_id,
        "Текст сообщения": this.message_text
      };

      let SendingString = "------------------------------%0A";
      for (let key in SendingData) {
        SendingString += `<b>${key}</b>: ${SendingData[key]}%0A`;
      }
      SendingString += "------------------------------";
      this.send(SendingString);
    },
    ...mapActions("contact", ["send"])
  },
  destroyed() {
    this.$store.commit("contact/clean");
  }
};
</script>

<style lang="scss">
.v-send-resume {
  &__sect {
  }
  &__title {
    @extend %h3-title;
    color: $primary;
    margin-bottom: rem(30);
  }
  &__btns {
    margin-top: rem(80);
  }
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }

    &__text {
      @extend %text-secondary;
      color: $secondary;
      margin-top: rem(20);
    }
  }
}
.send-resume__btns {
  margin-top: rem(80);
}
</style>
