<template>
  <div class="v-for-partners">
    <section class="v-for-partners-section">
      <FrontLead
        v-if="content.title"
        :title="content.title"
        :description="content.description"
        isForPartners
      />
    </section>
    <section class="v-for-partners-section v-for-partners-main-section">
      <MainPartners
        :partners_title="content.partners_about_title"
        :investors_title="content.investors_about_title"
        :partners_block="content.partners_about_block"
        :investors_block="content.investors_about_block"
      />
    </section>
    <section class="v-for-partners-section">
      <AboutExpertise title="Our expertise." :services="content.services" />
    </section>
    <section class="v-for-partners-section">
      <Wrapper>
        <BriefContact :key="'contact'" />
        <BaseButtonNormal>
          <span>Submit</span>
        </BaseButtonNormal>
        <p class="c-brief-contact__textdown">
          By clicking on the "Submit" button, you consent to the processing of
          your personal data
        </p>
      </Wrapper>
    </section>
    <h1>{{ content.services_title }}</h1>
  </div>
</template>

<script>
import FrontLead from "~/components/front/Lead";
import FrontAbout from "~/components/front/About";
import AboutExpertise from "~/components/about/Expertise";
import MainPartners from "~/components/partners/partners";
import SendResume from "~/components/Form/SendResume";
import BaseCookies from "~/components/PageHeader";
import BriefContact from "~/components/Form/BriefContact";
import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
import Wrapper from "~/components/Base/Wrapper";
import Tabs from "~/components/Base/BaseTabs";
import PartnersTeam from "~/components/PartnersTeam";
import Expertise from "~/components/Expertise";
import objectValue from "~/utils/objectValue";
import { mapState } from "vuex";

export default {
  name: "forPartners",
  components: {
    FrontLead,
    FrontAbout,
    AboutExpertise,
    MainPartners,
    SendResume,
    BaseCookies,
    BriefContact,
    BaseButtonNormal,
    Wrapper,
    Tabs,
    PartnersTeam,
    Expertise
  },
  async middleware({ store }) {
    try {
      await store.dispatch("page/load", "for-partners");
      console.log("Domoi");
    } catch (e) {
      console.log(e);
    }
  },
  computed: {
    ...mapState("page", {
      content: state => objectValue(state, "pages.for-partners", {})
    })
  }
};
</script>

<style lang="scss">
.v-for-partners {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }

    &__text {
      @extend %text-secondary;
      color: $secondary;
      margin-top: rem(20);
    }
  }

  &-main-section {
    padding-top: rem(60);
  }
}
</style>
