<template>
  <div class="v-index">
    <section class="v-index-section">
      <FrontLead v-if="content.title" :title="content.title" :description="content.description" />
    </section>
    <section class="v-index-section v-index-section__padding-top-not-main-two">
      <FrontAbout v-if="content.about.title" :title="content.about.title" :cards="content.about.about_cards" page_about />
    </section>
    <section class="v-index-section">
      <FrontRecognition
        :title="content.awards.title"
        :description="content.awards.description"
        :awards="content.awards.cards"
      />
    </section>
    <section class="v-index-section">
      <BaseSlider
        :title="content.cases.title"
        :description="content.cases.description"
        :sliders="content.cases.case_cards"
      />
    </section>
    <section class="v-index-section">
      <FrontWorking
        :title="content.worked_width.title"
        :description="content.worked_width.description"
        :working_logos="content.worked_width.logos"
      />
    </section>
    <section v-if="content.internal_cases.cases.length > 0" class="v-index-section">
      <FrontProject
        :title="content.internal_cases.title"
        :description="content.internal_cases.description"
        :cases="content.internal_cases.cases"
      />
    </section>
    <section class="v-index-section">
      <BaseSlider
        :title="content.blog.title"
        :description="content.blog.description"
        is_article_slider
        :sliders="content.blog.posts"
      />
    </section>
  </div>
</template>

<script>
import FrontLead from "~/components/front/Lead";
import FrontAbout from "~/components/front/About";
import FrontRecognition from "~/components/front/Recognition";
import FrontWorking from "~/components/front/Working";
import FrontProject from "~/components/front/Project";
import BaseSlider from "~/components/Base/BaseSlider";
import { mapState } from "vuex";

import objectValue from "~/utils/objectValue";
import seo_head from "~/mixins/seo_head";

export default {
  components: {
    // DragSlider,
    BaseSlider,
    FrontAbout,
    FrontLead,
    FrontRecognition,
    FrontWorking,
    FrontProject,
  },
  mixins: [seo_head],
  async middleware({ store, error }) {
    try {
      await store.dispatch("page/load", "home");
    } catch (e) {
      console.log(e);
      error(e);
    }
  },
  data() {
    return {
      case_sliders: [
        {
          id: 32423,
          title: "Some Title #1 дщд",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-1.jpg",
        },
        {
          id: 32423,
          title: "Some Title #2",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-2.jpg",
        },
        {
          id: 32423,
          title: "Some Title #3",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-1.jpg",
        },
        {
          id: 32423,
          title: "Some Title #4",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-1.jpg",
        },
        {
          id: 32423,
          title: "Some Title #5",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-2.jpg",
        },
        {
          id: 32423,
          title: "Some Title #6",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-1.jpg",
        },
        {
          id: 32423,
          title: "Some Title #7",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-2.jpg",
        },
        {
          id: 32423,
          title: "Some Title #8",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-1.jpg",
        },
        {
          id: 32423,
          title: "Some Title #9",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-1.jpg",
        },
        {
          id: 32423,
          title: "Some Title #10",
          text:
            "Some text Some text Some text Some text Some text Some text Some text #1",
          image: "/projects/project-card-2.jpg",
        },
      ],
    };
  },
  computed: {
    ...mapState("page", {
      content: (state) => objectValue(state, "pages.home", {}),
    }),
  },
};
</script>

<style lang="scss">
.v-index {
  &-section {
    padding: rem(180) 0 0 0;

    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }

    &__padding-top-not-main-two {
      @include for-width(+ laptop) {
        padding: rem(256) 0 0 0 !important;
      }
      @include for-width(+ desktop-lg) {
        padding: rem(260) 0 0 0 !important;
      }
    }
  }
}
</style>
