<template>
  <div class="v-index">
    <section class="v-index-section">
      <SiteMap />
    </section>
  </div>
</template>

<script>
import SiteMap from "~/components/SiteMap";

export default {
  components: {
    SiteMap,
  },
};
</script>

<style lang="scss">
.v-index {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ tablet) {
      padding: rem(260) 0 0 0;
    }
  }
}
</style>
