<template>
  <div class="c-brief-block c-brief-block_products">
    <slot name="title"></slot>
    <slot name="wrapper"></slot>
  </div>
</template>

<script>
  export default {
    name: "BriefBlockWrapper",
  }
</script>

<style lang="scss">
  .c-brief-block {
    max-width: rem(550);
    margin-bottom: rem(80);
    &._products {
      max-width: rem(536);
    }
    &__price {
      @extend %text-title;
      color: $secondary;
    }
    &__value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20);
    }
    &__btn {
      @extend %btn-default;
      color: $secondary;
      border-bottom: 1px solid $secondary;
    }
    &__title {
      @extend %h3-title;
      color: $primary;
      margin-bottom: rem(30);
    }
  }
</style>
