<template>

</template>

<script>
  import ContactForm from "~/components/ContactForm";
  export default {
    name: "BriefContact",
    components: {ContactForm}
  }
</script>

<style lang="scss" scoped>

</style>
