<template>
  <BriefBlockWrapper class="_products">
    <div slot="title" class="c-brief-block__title">
      Product Budget (USD).
    </div>
    <div slot="wrapper" class="c-brief-block__wrapper">
      <div class="c-brief-block__value">
        <div class="c-brief-block__price">
          {{ disable_range ? 'Don\'t know' : price }}
        </div>
        <button @click="disable_range = !disable_range" class="c-brief-block__btn">
          Don’t know
        </button>
      </div>
      <vue-slider :tooltip="'none'"
                  :dotSize="22"
                  :height="8"
                  :disabled="disable_range"
                  :data="range_points"
                  @change="change"
                  v-model="price"/>
    </div>
  </BriefBlockWrapper>
</template>

<script>
  import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js';
  import 'vue-slider-component/dist-css/vue-slider-component.css';
  import BriefBlockWrapper from "~/components/brief/BlockWrapper";
  export default {
    name: "BriefPrice",
    components: {
      BriefBlockWrapper,
      //BriefBlockWrapper,//: import('~/components/brief/BlockWrapper'),
      VueSlider//: import('vue-slider-component/dist-css/vue-slider-component.umd.min.js')
    },
    props: {
      range_data: Array,
    },
    data() {
      return {
        price: this.range_data[0].price,
        disable_range: false
      }
    },
    computed: {
      range_points() {
        return this.range_data.map(el => el.price)
      }
    },
    // async created() {
    //  const test = await this.$axios.$get('/api/' + 'internal-cases')
    //   console.log(test)
    // },
    methods: {
      change() {
        if (this.disable_range) {
          this.$emit('input',  'Незнает прайс')
          return
        }
        this.$emit('input',  this.price)
      }
    },
  }
</script>

<style lang="scss">

</style>
