<template>
  <BriefBlockWrapper class="_products">
    <div slot="title" class="c-brief-block__title">
      Choice product type.
    </div>
    <div slot="wrapper" class="c-brief-block__wrapper">
      <TabButton v-for="product in product_types"
                 :is_active="product | is_active_tab(value)"
                 :name="product.name" @click="select_product(product)" :key="product.id"/>
    </div>
  </BriefBlockWrapper>
</template>

<script>
  import TabButton from "~/components/Base/TabButton";
  import BriefBlockWrapper from "~/components/brief/BlockWrapper";
  export default {
    name: "BriefProductType",
    components: {BriefBlockWrapper, TabButton},
    props: {
      product_types: Array,
      value: Array
    },
    methods: {
      select_product(product) {
        if(this.value.find(el => el.id === product.id)) {
          this.$emit('remove-item', product)
          return
        }
        this.$emit('input', product)
      }
    },
    filters: {
      is_active_tab(value, array) {
        return !!array.find(el => el.id === value.id)
      }
    }
  }
</script>

<style lang="scss">
</style>
