<template>
  <div class="c-about-company">
    <Wrapper>
      <div class="c-about-company-section">
        <h1 class="c-about-company-section__title">{{ title }}</h1>
        <p class="c-about-company-section__text">
          {{ description }}
        </p>
      </div>
    </Wrapper>
    <div class="container">
      <figure class="c-about-company-section__img">
        <video-block :url="video_url" :poster="video_poster"/>
      </figure>
    </div>
  </div>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import VideoBlock from "~/components/about/video-block";
export default {
  name: "AboutLead",
  components: {VideoBlock, Wrapper },
  props: {
    title: String,
    description: String,
    video_url: String,
    video_poster: String,
  },
};
</script>

<style lang="scss">
.c-about-company-section {
  &__title {
    @extend %h1-title;
    color: $primary;
    margin-bottom: rem(20);
  }

  &__text {
    @extend %text-main;
    color: $secondary;
    margin-bottom: rem(80);
  }

  &__img {
    width: 100%;
    height: auto;
    @include for-width(+ laptop) {
      padding: 0 rem(50);
    }
    @include for-width(+ desktop-lg) {
      padding: 0 rem(68);
    }
  }
}
</style>
