<template>
  <div class="c-video">
    <Media
      :kind="'video'"
      :isMuted="(false)"
      :src="[`${url}`]"
      :poster="poster"
      :autoplay="false"
      :controls="true"
      :loop="true"
      :ref="'video_player'"
      width="100%"
    ></Media>
  </div>
</template>

<script>
  import Media from "@dongido/vue-viaudio";
  export default {
    name: "video-block",
    props: {
      url: String,
      poster: String,
    },
  }
</script>

<style lang="scss">
.c-video {
  width: 100%;
}
</style>
