<template>
  <section class="v-blog-article">
    <Wrapper>
      <BaseArticleContent
        :cover_image="job.cover_image.url"
        :title="job.title"
        :content="job.content_block"
        isJobs
      />
    </Wrapper>
  </section>
</template>

<script>
import Wrapper from "~/components/Base/Wrapper";
import Icons from "~/components/Base/Icons";
import BaseShare from "~/components/Base/BaseShare";
import BaseArticleContent from "~/components/Base/BaseArticleContent";
import { mapFields } from "vuex-map-fields";

export default {
  name: "_id",
  components: {
    BaseArticleContent,
    Wrapper,
    Icons,
    BaseShare
  },
  data() {
    return {
      blog_article: {
        id: 1,
        title: "Blog title number one how we use small grid in our site",
        text:
          "<h3>Blog title number one how we use small grid in our site</h3><p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br><br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p><h3>Blog title number one how we use small grid in our site</h3><p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p><img src='/blog/blog-6.jpg'><a href='#'>See more</a><p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p><a href='#'>See more</a><h3>Blog title number one how we use small grid in our site</h3><img src='/blog/blog-3.jpg'><p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>",
        image: "/blog/blog-1.jpg"
      },
      info_user: {
        name: "Vlad Udovenko",
        profession: "UX / UI designer",
        img: "user.png"
      }
    };
  },
  async middleware({ store, route }) {
    await store.dispatch("jobs/load_job_page_posting", route.params.id);
  },
  destroyed() {
    this.$store.dispatch("jobs/clear_article");
  },
  computed: {
    ...mapFields("jobs", ["job"])
  }
};
</script>

<style lang="scss"></style>
