<template>
  <div class="v-index">
    <section class="v-index-section">
      <BasePageSection
        :title="content.title"
        :text="content.description"
        is_jobs
        :section_list="jobs"
        @open-job="openModalOrPage"
      />
    </section>
  </div>
</template>

<script>
import BasePageSection from "~/components/BasePageSection";
import { mapFields } from "vuex-map-fields";
import { mapActions, mapState } from "vuex";
import objectValue from "~/utils/objectValue";
import seo_head from "~/mixins/seo_head";
export default {
  name: "index",
  components: {
    BasePageSection
  },
  mixins: [seo_head],
  async middleware({ store, redirect }) {
    await store.dispatch("jobs/load");
    await store.dispatch("page/load", "job-page");
  },
  methods: {
    openModalOrPage(id) {
      if (process.client) {
        if (window.innerWidth >= 1200) {
          this.load_job_posting(id);
        } else {
          this.$router.push("/jobs/" + id);
        }
      }
    },
    open_job(id) {
      alert(id);
    },
    ...mapActions("jobs", ["load_job_posting", "load_job_page_posting"])
  },
  computed: {
    ...mapFields("jobs", ["jobs"]),
    ...mapFields("overlay", ["overlay"]),
    ...mapState("page", {
      content: state => objectValue(state, "pages.job-page", {})
    })
  }
};
</script>

<style lang="scss">
.v-index {
  &-section {
    padding: rem(180) 0 0 0;
    @include for-width(+ medium) {
      padding: rem(260) 0 0 0;
    }
  }
}
</style>
