<template>
  <div class="v-send-resume">
    <section class="v-send-resume-section">
      <page-header
        title="Send a resume."
        text="If you have suggestions, an idea, a project or just want to talk. Fill out the form and we will contact you shortly."
      />

      <template v-if="!status">
        <section class="v-send-resume__sect">
          <Wrapper>
            <h3 class="v-send-resume__title">Contact Information.</h3>
            <ContactForm :fields_namespace="'contact'"/>
            <div class="send-resume__btns">
              <BaseButtonNormal :disabled="is_valid" @click="sender">
                <span>Get in touch</span>
              </BaseButtonNormal>
              <p class="v-send-resume-section__text">
                By clicking on the "Send a resume" button, you consent to the processing of your personal data
              </p>
            </div>
          </Wrapper>
        </section>
      </template>
      <template v-else>
        <ResultSending @send-again="sender" :title="status_text.title" :text="status_text.text" :is_error="status === 'error'"/>
      </template>

    </section>
  </div>
</template>

<script>
  import PageHeader from "~/components/PageHeader";
  import Wrapper from "~/components/Base/Wrapper";
  import ContactForm from "~/components/ContactForm";
  import BaseButtonNormal from "~/components/Base/BaseButtonNormal";
  import ResultSending from "~/components/ResultSending";
  import {mapFields} from "vuex-map-fields";
  import {mapActions} from "vuex";
  export default {
    name: "send-resume",
    components: {ResultSending, BaseButtonNormal, ContactForm, Wrapper, PageHeader},
    data() {
      return {
        validation_error: {},
        items: ["Facebook Messenger", "WhatsApp", "Telegram"],
      }
    },
    computed: {
      ...mapFields('contact', [
        'status',
        'name',
        'company',
        'email',
        'phone',
        'messenger_name',
        'messenger_id',
        'message_text'
      ]),
      status_text() {
        const status_answer = this.status === 'error';
        return {
          title: status_answer ? 'Something went wrong ....' : 'Thank you for your appeal.',
          text: status_answer ? 'From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.' : 'From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.'
        }
      },
      is_valid() {
        return Object.values(this.validation_error).find(e => !!e);
      },
      messenger: {
        get() {
          return {
            id: this.messenger_id,
            name: this.messenger_name
          }
        },
        set({ id, name }) {
          this.$store.commit('contact/updateField', { path: 'messenger_id', value: id })
          this.$store.commit('contact/updateField', { path: 'messenger_name', value: name })
        }
      }
    },
    methods: {
      sender() {
        const SendingData = {
          'Лид с сайта (Контактная форма)': '%0A',
          'Время (у юзера)': new Date(),
          'Имя': this.name,
          'Компания': this.company,
          'Email': this.email,
          'Телефон': this.phone,
          'Месенжер': this.messenger_name,
          'Юзернейм в месенжере': this.messenger_id,
          'Текст сообщения': this.message_text
        }

        let SendingString = '------------------------------%0A';
        for(let key in SendingData) {
          SendingString += `<b>${key}</b>: ${SendingData[key]}%0A`;
        }
        SendingString += '------------------------------';
        this.send(SendingString)
      },
      ...mapActions('contact', [
        'send'
      ]),
    },
  }
</script>

<style lang="scss">
  .v-send-resume {
    &-section {
      padding: rem(180) 0 0 0;
      @include for-width(+ medium) {
        padding: rem(260) 0 0 0;
      }
    }

    &__text {
      @extend %text-secondary;
      color: $secondary;
      margin-top: rem(20);
    }
  }
</style>
